openapi: 3.1.0
info:
  title: Buurman API
  description: Property Management API for Small Landlords
  contact:
    name: Buurman Team
    email: info@buurman.io
  version: 0.1.0
servers:
  - url: http://api.local.buurman.io
    description: Generated server url
security:
  - bearer-jwt: []
tags:
  - name: WWS Calculator
    description: Netherlands WWS (Woningwaarderingsstelsel) points calculator
  - name: Reference
    description: Technical reference data for integrators and developers
  - name: Property Taxes
    description: Property tax obligations
  - name: Calendar Feeds
    description: iCalendar feed management and serving
  - name: Teams
    description: Team management
  - name: Property Outdoor Areas
    description: Manage outdoor areas for properties
  - name: Properties
    description: Property management
  - name: Property Acquisitions
    description: Property acquisition data (1:1 per property)
  - name: Property Valuations
    description: Property valuation history (time-series)
  - name: Expenses
    description: Property expense tracking and management
  - name: Contract Rent Periods
    description: Rent timeline management for contracts
  - name: Property Insurances
    description: Property insurance policies
  - name: Tenants
    description: Tenant management
  - name: Users
    description: User team management
  - name: Property Financings
    description: Financing instruments and payments (mortgages, loans, etc.)
  - name: Reports
    description: Financial reporting and analytics
  - name: Occupancy Periods
    description: Self-occupancy period management
  - name: Notifications
    description: Notification center and management
  - name: Contract Payment Instructions
    description: Per-contract payment instructions with history
  - name: Photos
    description: Photo management endpoints
  - name: Audit Logs
    description: Activity log management
  - name: Portfolio Dashboard
    description: Portfolio-level investment analytics
  - name: Property Dashboard
    description: Property-level investment analytics
  - name: Amenities
    description: Reference amenity data
  - name: Booklets
    description: Entity booklet PDF exports
  - name: Payments
    description: Rent payment tracking and management
  - name: Property Fees
    description: Recurring property fees (HOA, management, etc.)
  - name: User Preferences
    description: User preferences and notification channel settings
  - name: Health
    description: Health and info endpoints
  - name: Geocoding
    description: Address geocoding
  - name: Webhooks
    description: Provider status callbacks
  - name: Contracts
    description: Rental agreement management
  - name: Contract Extensions
    description: Contract extension lifecycle management
  - name: Dashboard
    description: Dashboard statistics and recent activities
  - name: Registration
    description: Public registration endpoints
  - name: Property Amenities
    description: Manage amenities for properties
  - name: Payment Instructions
    description: Team-level payment instruction templates
  - name: Authentication
    description: User registration and profile management
  - name: Property Financials
    description: Aggregated property financial overview
  - name: Documents
    description: Document management endpoints
  - name: Invitations
    description: Team invitation management
  - name: Feature Flags
    description: Feature flag configuration
  - name: Onboarding
    description: Team onboarding wizard
  - name: Currency
    description: Currency and country-currency mappings
  - name: Jurisdiction Defaults
    description: Country-specific renewal default values
  - name: Rent Regulations
    description: Rent regulation data by country and region
  - name: Rent Increases
    description: Annual rent increase preview and application
  - name: Impersonation
    description: Impersonation session management for support staff
  - name: Data Takeout
    description: Data export and takeout management
  - name: Broadcasts
    description: Broadcast messages for users
paths:
  /users/preferences/notifications:
    get:
      tags:
        - User Preferences
      summary: Get notification type preferences
      description: Get per-type notification channel preferences with global toggles
      operationId: getNotificationTypePreferences
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTypePreferencesResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - User Preferences
      summary: Update notification type preferences
      description: Update per-type notification channel preferences
      operationId: updateNotificationTypePreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationTypePreferencesRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTypePreferencesResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /users/me:
    get:
      tags:
        - Users
      summary: Get current user profile
      description: Get the current user's profile information
      operationId: getUserProfile
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Users
      summary: Update user profile
      description: Update the current user's profile information
      operationId: updateUserProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserProfileRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /users/default-team:
    put:
      tags:
        - Users
      summary: Set default team
      description: Set the user's default team for login
      operationId: setDefaultTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDefaultTeamRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTeamResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /tenants/{tenantIdentifier}/addresses/{addressIdentifier}:
    get:
      tags:
        - Tenants
      summary: Get address
      description: Get a specific address by identifier
      operationId: getAddress
      parameters:
        - name: tenantIdentifier
          in: path
          description: Tenant identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantIdentifier'
        - name: addressIdentifier
          in: path
          description: Address identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantAddressIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAddressResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Tenants
      summary: Update address
      description: Update an existing address (Admin/Editor)
      operationId: updateAddress
      parameters:
        - name: tenantIdentifier
          in: path
          description: Tenant identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantIdentifier'
        - name: addressIdentifier
          in: path
          description: Address identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantAddressIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantAddressRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantAddressResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Tenants
      summary: Delete address
      description: Soft delete an address (Admin/Editor)
      operationId: deleteAddress
      parameters:
        - name: tenantIdentifier
          in: path
          description: Tenant identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantIdentifier'
        - name: addressIdentifier
          in: path
          description: Address identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantAddressIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /tenants/{identifier}:
    get:
      tags:
        - Tenants
      summary: Get tenant details
      description: Get details of a specific tenant
      operationId: getTenant
      parameters:
        - name: identifier
          in: path
          description: Tenant identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Tenants
      summary: Update tenant
      description: Update tenant information (Admin/Editor)
      operationId: updateTenant
      parameters:
        - name: identifier
          in: path
          description: Tenant identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Tenants
      summary: Delete tenant
      description: Soft delete a tenant (Admin only)
      operationId: deleteTenant
      parameters:
        - name: identifier
          in: path
          description: Tenant identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /tenants/{identifier}/photos/{photoIdentifier}/set-main:
    put:
      tags:
        - Tenants
      summary: Set main photo
      description: Set a photo as the main photo for a tenant (Admin/Editor)
      operationId: setMainPhoto
      parameters:
        - name: identifier
          in: path
          description: Tenant identifier
          required: true
          schema:
            $ref: '#/components/schemas/TenantIdentifier'
        - name: photoIdentifier
          in: path
          description: Photo identifier
          required: true
          schema:
            $ref: '#/components/schemas/PhotoIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /teams/{teamIdentifier}:
    put:
      tags:
        - Teams
      summary: Update team
      description: Update team name (Admin only)
      operationId: updateTeam
      parameters:
        - name: teamIdentifier
          in: path
          description: Team identifier
          required: true
          schema:
            $ref: '#/components/schemas/TeamIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /teams/{teamIdentifier}/settings:
    get:
      tags:
        - Teams
      summary: Get team settings
      description: Get team configuration settings
      operationId: getTeamSettings
      parameters:
        - name: teamIdentifier
          in: path
          description: Team identifier
          required: true
          schema:
            $ref: '#/components/schemas/TeamIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamPreferencesResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Teams
      summary: Update team settings
      description: Update team configuration settings (Admin only)
      operationId: updateTeamSettings
      parameters:
        - name: teamIdentifier
          in: path
          description: Team identifier
          required: true
          schema:
            $ref: '#/components/schemas/TeamIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamSettingsRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamPreferencesResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /teams/{teamIdentifier}/members/{userIdentifier}/role:
    put:
      tags:
        - Teams
      summary: Update member role
      description: Change member's role (Admin only)
      operationId: updateMemberRole
      parameters:
        - name: teamIdentifier
          in: path
          description: Team identifier
          required: true
          schema:
            $ref: '#/components/schemas/TeamIdentifier'
        - name: userIdentifier
          in: path
          description: User identifier
          required: true
          schema:
            $ref: '#/components/schemas/UserIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRoleRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMemberResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{propertyIdentifier}/outdoor-areas/{areaIdentifier}:
    put:
      tags:
        - Property Outdoor Areas
      summary: Update outdoor area
      description: Update an outdoor area (Admin/Editor)
      operationId: updateOutdoorArea
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: areaIdentifier
          in: path
          description: Outdoor area identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyOutdoorAreaIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyOutdoorAreaRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyOutdoorAreaResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Property Outdoor Areas
      summary: Delete outdoor area
      description: Soft delete an outdoor area (Admin/Editor)
      operationId: deleteOutdoorArea
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: areaIdentifier
          in: path
          description: Outdoor area identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyOutdoorAreaIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{propertyIdentifier}/occupancy-periods/{identifier}:
    get:
      tags:
        - Occupancy Periods
      summary: Get occupancy period
      description: Get details of a specific self-occupancy period
      operationId: get
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Occupancy period identifier
          required: true
          schema:
            $ref: '#/components/schemas/OccupancyPeriodIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccupancyPeriodResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Occupancy Periods
      summary: Update occupancy period
      description: Update self-occupancy period details (Admin/Editor)
      operationId: update
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Occupancy period identifier
          required: true
          schema:
            $ref: '#/components/schemas/OccupancyPeriodIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOccupancyPeriodRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccupancyPeriodResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Occupancy Periods
      summary: Delete occupancy period
      description: Soft delete a self-occupancy period (Admin only)
      operationId: delete
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Occupancy period identifier
          required: true
          schema:
            $ref: '#/components/schemas/OccupancyPeriodIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{propertyIdentifier}/financials/valuations/{identifier}:
    put:
      tags:
        - Property Valuations
      summary: Update valuation
      description: Update a valuation record (Admin/Editor)
      operationId: updateValuation
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Valuation identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyValuationIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyValuationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyValuationResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Property Valuations
      summary: Delete valuation
      description: Soft delete a valuation (Admin/Editor)
      operationId: deleteValuation
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Valuation identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyValuationIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{propertyIdentifier}/financials/taxes/{identifier}:
    get:
      tags:
        - Property Taxes
      summary: Get tax
      description: Get details of a specific tax record
      operationId: getTax
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Tax identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyTaxIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyTaxResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Property Taxes
      summary: Update tax
      description: Update a tax record (Admin/Editor)
      operationId: updateTax
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Tax identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyTaxIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyTaxRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyTaxResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Property Taxes
      summary: Delete tax
      description: Soft delete a tax record (Admin/Editor)
      operationId: deleteTax
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Tax identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyTaxIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{propertyIdentifier}/financials/insurances/{identifier}:
    get:
      tags:
        - Property Insurances
      summary: Get insurance
      description: Get details of a specific insurance
      operationId: getInsurance
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Insurance identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyInsuranceIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyInsuranceResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Property Insurances
      summary: Update insurance
      description: Update an insurance policy (Admin/Editor)
      operationId: updateInsurance
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Insurance identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyInsuranceIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyInsuranceRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyInsuranceResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Property Insurances
      summary: Delete insurance
      description: Soft delete an insurance policy (Admin/Editor)
      operationId: deleteInsurance
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Insurance identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyInsuranceIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{propertyIdentifier}/financials/financings/{financingIdentifier}:
    get:
      tags:
        - Property Financings
      summary: Get financing
      description: Get details of a specific financing
      operationId: getFinancing
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: financingIdentifier
          in: path
          description: Financing identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyFinancingIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFinancingResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Property Financings
      summary: Update financing
      description: Update a financing instrument (Admin/Editor)
      operationId: updateFinancing
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: financingIdentifier
          in: path
          description: Financing identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyFinancingIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyFinancingRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFinancingResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Property Financings
      summary: Delete financing
      description: Soft delete a financing instrument (Admin/Editor)
      operationId: deleteFinancing
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: financingIdentifier
          in: path
          description: Financing identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyFinancingIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{propertyIdentifier}/financials/financings/{financingIdentifier}/payments/{paymentIdentifier}:
    put:
      tags:
        - Property Financings
      summary: Update payment
      description: Update a payment record (Admin/Editor)
      operationId: updateFinancingPayment
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: financingIdentifier
          in: path
          description: Financing identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyFinancingIdentifier'
        - name: paymentIdentifier
          in: path
          description: Payment identifier
          required: true
          schema:
            $ref: '#/components/schemas/FinancingPaymentIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFinancingPaymentRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancingPaymentResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Property Financings
      summary: Delete payment
      description: Soft delete a payment (Admin/Editor)
      operationId: deleteFinancingPayment
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: financingIdentifier
          in: path
          description: Financing identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyFinancingIdentifier'
        - name: paymentIdentifier
          in: path
          description: Payment identifier
          required: true
          schema:
            $ref: '#/components/schemas/FinancingPaymentIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{propertyIdentifier}/financials/fees/{identifier}:
    get:
      tags:
        - Property Fees
      summary: Get fee
      description: Get details of a specific fee
      operationId: getFee
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Fee identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyFeeIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFeeResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Property Fees
      summary: Update fee
      description: Update a fee record (Admin/Editor)
      operationId: updateFee
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Fee identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyFeeIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyFeeRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyFeeResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Property Fees
      summary: Delete fee
      description: Soft delete a fee (Admin/Editor)
      operationId: deleteFee
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: identifier
          in: path
          description: Fee identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyFeeIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{propertyIdentifier}/financials/acquisition:
    get:
      tags:
        - Property Acquisitions
      summary: Get acquisition
      description: Get acquisition data for a property
      operationId: getAcquisition
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyAcquisitionResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Property Acquisitions
      summary: Create or update acquisition
      description: Create or update acquisition data for a property (Admin/Editor)
      operationId: upsertAcquisition
      parameters:
        - name: propertyIdentifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPropertyAcquisitionRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyAcquisitionResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{identifier}:
    get:
      tags:
        - Properties
      summary: Get property
      description: Get property details by identifier
      operationId: getProperty
      parameters:
        - name: identifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Properties
      summary: Update property
      description: Update property details (Admin/Editor)
      operationId: updateProperty
      parameters:
        - name: identifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Properties
      summary: Delete property
      description: Soft delete a property (Admin only)
      operationId: deleteProperty
      parameters:
        - name: identifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /properties/{identifier}/photos/{photoIdentifier}/set-main:
    put:
      tags:
        - Properties
      summary: Set main photo
      description: Set a photo as the main photo for a property (Admin/Editor)
      operationId: setMainPropertyPhoto
      parameters:
        - name: identifier
          in: path
          description: Property identifier
          required: true
          schema:
            $ref: '#/components/schemas/PropertyIdentifier'
        - name: photoIdentifier
          in: path
          description: Photo identifier
          required: true
          schema:
            $ref: '#/components/schemas/PhotoIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
  /photos/{identifier}:
    get:
      tags:
        - Photos
      summary: Get photo metadata
      description: Get detailed metadata for a specific photo
      operationId: getPhoto
      parameters:
        - name: identifier
          in: path
          description: Photo identifier
          required: true
          schema:
            $ref: '#/components/schemas/PhotoIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
        - Photos
      operationId: updatePhoto
      parameters:
        - name: identifier
          in: path
          description: Photo identifier
          required: true
          schema:
            $ref: '#/components/schemas/PhotoIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhotoRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Photos
      summary: Delete photo
      description: Soft delete a photo
      operationId: deletePhoto
      parameters:
        - name: identifier
          in: path
          description: Photo identifier
          required: true
          schema:
            $ref: '#/components/schemas/PhotoIdentifier'
      responses:
        "200":
          description: OK
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /payments/{identifier}:
    get:
      tags:
        - Payments
      summary: Get payment details
      description: Get details of a specific payment
      operationId: getPayment
      parameters:
        - name: identifier
          in: path
          description: Payment identifier
          required: true
          schema:
            $ref: '#/components/schemas/PaymentIdentifier'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    put:
      tags:
        - Payments
      summary: Update payment
      description: Update payment information (Admin/Editor)
      operationId: updatePayment
      parameters:
        - name: identifier
          in: path
          description: Payment identifier
          required: true
          schema:
            $ref: '#/components/schemas/PaymentIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Payments
      summary: Delete payment
[...]
