openapi: 3.1.0
info:
  title: Buurman Backoffice API
  description: Internal administration API for Buurman platform management
  contact:
    name: Buurman Team
    email: info@buurman.io
  version: 0.1.0
servers:
  - url: http://api.local.buurman.io
    description: Generated server url
security:
  - bearer-jwt: []
tags:
  - name: Backoffice - Teams
    description: Platform-wide team management
  - name: Backoffice - Settings
    description: Platform settings management
  - name: Backoffice - Dashboard
    description: Platform-wide dashboard statistics
  - name: Backoffice - Notifications
    description: Platform-wide notification management
  - name: Backoffice - Scheduler
    description: Job and scheduler management
  - name: Backoffice - System
    description: System information and health checks
  - name: Backoffice - Buurmies
    description: Keycloak user management for buurman realm
  - name: Backoffice - Loggers
    description: Runtime log level management
  - name: Backoffice - Registration Invitations
    description: Manage registration invitation codes
  - name: Backoffice - Users
    description: Platform-wide user management
  - name: Backoffice - Feature Flags
    description: Feature flag management
paths:
  /backoffice/teams/{identifier}:
    get:
      tags:
        - Backoffice - Teams
      summary: Get team
      description: Get detailed team overview by identifier
      operationId: getTeam
      parameters:
        - name: identifier
          in: path
          description: Team identifier
          required: true
          schema:
            $ref: "#/components/schemas/TeamIdentifier"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackofficeTeamDetailResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
    put:
      tags:
        - Backoffice - Teams
      summary: Update team name
      description: Update the name of a team
      operationId: updateTeamName
      parameters:
        - name: identifier
          in: path
          description: Team identifier
          required: true
          schema:
            $ref: "#/components/schemas/TeamIdentifier"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamNameRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackofficeTeamResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Backoffice - Teams
      summary: Delete team
      description: Soft delete a team
      operationId: deleteTeam
      parameters:
        - name: identifier
          in: path
          description: Team identifier
          required: true
          schema:
            $ref: "#/components/schemas/TeamIdentifier"
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/settings/rate-limits/{key}:
    get:
      tags:
        - Backoffice - Settings
      summary: Get rate limit config by key
      operationId: getRateLimit
      parameters:
        - name: key
          in: path
          description: Rate limit config key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitConfigResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
    put:
      tags:
        - Backoffice - Settings
      summary: Update rate limit config
      operationId: updateRateLimit
      parameters:
        - name: key
          in: path
          description: Rate limit config key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRateLimitConfigRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitConfigResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/settings/phone-policy:
    get:
      tags:
        - Backoffice - Settings
      summary: Get phone number policy
      description: Get the current phone number policy configuration
      operationId: getPhonePolicy
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackofficePhoneNumberPolicyResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
    put:
      tags:
        - Backoffice - Settings
      summary: Update phone number policy
      description: Update the phone number policy configuration
      operationId: updatePhonePolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePhoneNumberPolicyRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackofficePhoneNumberPolicyResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/registration-invitations/{identifier}/note:
    put:
      tags:
        - Backoffice - Registration Invitations
      summary: Update registration invitation note
      operationId: updateNote
      parameters:
        - name: identifier
          in: path
          description: Registration invitation identifier
          required: true
          schema:
            $ref: "#/components/schemas/RegistrationInvitationIdentifier"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRegistrationInvitationNoteRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationInvitationDetailResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/feature-flags/segments/{segmentId}/{flagName}:
    put:
      tags:
        - Backoffice - Feature Flags
      summary: Create or update a segment override
      description: Sets a feature flag override for a specific segment
      operationId: upsertSegmentOverride
      parameters:
        - name: segmentId
          in: path
          description: Flagsmith segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: flagName
          in: path
          description: Feature flag name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFeatureFlagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureFlagUpdateResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Backoffice - Feature Flags
      summary: Remove a segment override
      description: Removes a feature flag override so the segment falls back to the global default
      operationId: deleteSegmentOverride
      parameters:
        - name: segmentId
          in: path
          description: Flagsmith segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: flagName
          in: path
          description: Feature flag name
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/feature-flags/identities/{userIdentifier}/teams/{teamIdentifier}/{flagName}:
    put:
      tags:
        - Backoffice - Feature Flags
      summary: Create or update an identity override
      description: Sets a feature flag override for a specific user in a specific team
      operationId: upsertIdentityOverride
      parameters:
        - name: userIdentifier
          in: path
          description: User identifier
          required: true
          schema:
            $ref: "#/components/schemas/UserIdentifier"
        - name: teamIdentifier
          in: path
          description: Team identifier
          required: true
          schema:
            $ref: "#/components/schemas/TeamIdentifier"
        - name: flagName
          in: path
          description: Feature flag name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFeatureFlagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureFlagUpdateResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
    delete:
      tags:
        - Backoffice - Feature Flags
      summary: Remove an identity override
      description: Removes a feature flag override so the user falls back to the global default
      operationId: deleteIdentityOverride
      parameters:
        - name: userIdentifier
          in: path
          description: User identifier
          required: true
          schema:
            $ref: "#/components/schemas/UserIdentifier"
        - name: teamIdentifier
          in: path
          description: Team identifier
          required: true
          schema:
            $ref: "#/components/schemas/TeamIdentifier"
        - name: flagName
          in: path
          description: Feature flag name
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/users/{identifier}/reset-password:
    post:
      tags:
        - Backoffice - Users
      summary: Reset password
      description: Send a password reset email to the user via Keycloak
      operationId: resetPassword
      parameters:
        - name: identifier
          in: path
          description: User identifier
          required: true
          schema:
            $ref: "#/components/schemas/UserIdentifier"
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/users/{identifier}/enable:
    post:
      tags:
        - Backoffice - Users
      summary: Enable user
      description: Re-enable a disabled user account
      operationId: enableUser
      parameters:
        - name: identifier
          in: path
          description: User identifier
          required: true
          schema:
            $ref: "#/components/schemas/UserIdentifier"
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/users/{identifier}/disable:
    post:
      tags:
        - Backoffice - Users
      summary: Disable user
      description: Disable a user account in both database and Keycloak
      operationId: disableUser
      parameters:
        - name: identifier
          in: path
          description: User identifier
          required: true
          schema:
            $ref: "#/components/schemas/UserIdentifier"
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/scheduler/jobs/{jobName}/trigger:
    post:
      tags:
        - Backoffice - Scheduler
      summary: Trigger a job now
      description: Immediately trigger a job execution
      operationId: triggerJob
      parameters:
        - name: jobName
          in: path
          description: Quartz job name
          required: true
          schema:
            type: string
        - name: group
          in: query
          description: Quartz job group
          required: false
          schema:
            type: string
            default: scheduling
          example: scheduling
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/scheduler/jobs/{jobName}/resume:
    post:
      tags:
        - Backoffice - Scheduler
      summary: Resume a job
      description: Resume a paused job by name and group
      operationId: resumeJob
      parameters:
        - name: jobName
          in: path
          description: Quartz job name
          required: true
          schema:
            type: string
        - name: group
          in: query
          description: Quartz job group
          required: false
          schema:
            type: string
            default: scheduling
          example: scheduling
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/scheduler/jobs/{jobName}/reschedule:
    post:
      tags:
        - Backoffice - Scheduler
      summary: Reschedule a cron job
      description: Update the cron expression for a job
      operationId: rescheduleJob
      parameters:
        - name: jobName
          in: path
          description: Quartz job name
          required: true
          schema:
            type: string
        - name: group
          in: query
          description: Quartz job group
          required: false
          schema:
            type: string
            default: scheduling
          example: scheduling
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RescheduleRequest"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/scheduler/jobs/{jobName}/pause:
    post:
      tags:
        - Backoffice - Scheduler
      summary: Pause a job
      description: Pause a scheduled job by name and group
      operationId: pauseJob
      parameters:
        - name: jobName
          in: path
          description: Quartz job name
          required: true
          schema:
            type: string
        - name: group
          in: query
          description: Quartz job group
          required: false
          schema:
            type: string
            default: scheduling
          example: scheduling
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/registration-invitations:
    get:
      tags:
        - Backoffice - Registration Invitations
      summary: List registration invitations
      operationId: list
      parameters:
        - name: search
          in: query
          description: Search term
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            format: int32
            default: 25
          example: 25
        - name: sort
          in: query
          description: Sort field name
          required: false
          schema:
            type: string
          example: createdAt
        - name: direction
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            default: DESC
            description: Sort order direction for paginated queries
            enum:
              - ASC
              - DESC
          example: DESC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseRegistrationInvitationResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
    post:
      tags:
        - Backoffice - Registration Invitations
      summary: Create a new registration invitation
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRegistrationInvitationRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationInvitationResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/registration-invitations/{identifier}/send:
    post:
      tags:
        - Backoffice - Registration Invitations
      summary: Send registration invitation via email or SMS
      operationId: send
      parameters:
        - name: identifier
          in: path
          description: Registration invitation identifier
          required: true
          schema:
            $ref: "#/components/schemas/RegistrationInvitationIdentifier"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendRegistrationInvitationRequest"
        required: true
      responses:
        "200":
          description: OK
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/registration-invitations/{identifier}/revoke:
    post:
      tags:
        - Backoffice - Registration Invitations
      summary: Revoke a registration invitation
      operationId: revoke
      parameters:
        - name: identifier
          in: path
          description: Registration invitation identifier
          required: true
          schema:
            $ref: "#/components/schemas/RegistrationInvitationIdentifier"
      responses:
        "200":
          description: OK
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/notifications/{identifier}/resend:
    post:
      tags:
        - Backoffice - Notifications
      summary: Resend notification
      description: Resend a notification
      operationId: resendNotification
      parameters:
        - name: identifier
          in: path
          description: Notification identifier
          required: true
          schema:
            $ref: "#/components/schemas/NotificationIdentifier"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackofficeNotificationResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/loggers/{loggerName}/level:
    post:
      tags:
        - Backoffice - Loggers
      summary: Set log level
      operationId: setLogLevel
      parameters:
        - name: loggerName
          in: path
          description: Logger name
          required: true
          schema:
            type: string
          example: com.buurman
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetLogLevelRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggerConfigurationResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/loggers/reset:
    post:
      tags:
        - Backoffice - Loggers
      summary: Reset all log levels to defaults
      operationId: resetAll
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/buurmies:
    get:
      tags:
        - Backoffice - Buurmies
      summary: List buurmies
      description: List Keycloak users with search and pagination
      operationId: listBuurmies
      parameters:
        - name: search
          in: query
          description: Search term
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            format: int32
            default: 25
          example: 25
        - name: sort
          in: query
          description: Sort field name
          required: false
          schema:
            type: string
          example: createdAt
        - name: direction
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            default: DESC
            description: Sort order direction for paginated queries
            enum:
              - ASC
              - DESC
          example: DESC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseBuurmyResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
    post:
      tags:
        - Backoffice - Buurmies
      summary: Create buurmy
      description: Create a new user in the buurman Keycloak realm
      operationId: createBuurmy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBuurmyRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuurmyResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/buurmies/{keycloakId}/verify:
    post:
      tags:
        - Backoffice - Buurmies
      summary: Verify email
      description: Mark a user's email as verified
      operationId: verifyBuurmy
      parameters:
        - name: keycloakId
          in: path
          description: Keycloak user ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/buurmies/{keycloakId}/unverify:
    post:
      tags:
        - Backoffice - Buurmies
      summary: Unverify email
      description: Mark a user's email as unverified
      operationId: unverifyBuurmy
      parameters:
        - name: keycloakId
          in: path
          description: Keycloak user ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/buurmies/{keycloakId}/remove-profile-reset:
    post:
      tags:
        - Backoffice - Buurmies
      summary: Remove profile reset
      description: Remove the UPDATE_PROFILE required action from a user
      operationId: removeProfileReset
      parameters:
        - name: keycloakId
          in: path
          description: Keycloak user ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/buurmies/{keycloakId}/remove-password-reset:
    post:
      tags:
        - Backoffice - Buurmies
      summary: Remove password reset
      description: Remove the UPDATE_PASSWORD required action from a user
      operationId: removePasswordReset
      parameters:
        - name: keycloakId
          in: path
          description: Keycloak user ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/buurmies/{keycloakId}/force-profile-update:
    post:
      tags:
        - Backoffice - Buurmies
      summary: Force profile update
      description: Require the user to update their profile on next login
      operationId: forceProfileUpdate
      parameters:
        - name: keycloakId
          in: path
          description: Keycloak user ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/buurmies/{keycloakId}/force-password-update:
    post:
      tags:
        - Backoffice - Buurmies
      summary: Force password update
      description: Require the user to update their password on next login
      operationId: forcePasswordUpdate
      parameters:
        - name: keycloakId
          in: path
          description: Keycloak user ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/buurmies/{keycloakId}/enable:
    post:
      tags:
        - Backoffice - Buurmies
      summary: Enable buurmy
      description: Enable a disabled Keycloak user
      operationId: enableBuurmy
      parameters:
        - name: keycloakId
          in: path
          description: Keycloak user ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/buurmies/{keycloakId}/disable:
    post:
      tags:
        - Backoffice - Buurmies
      summary: Disable buurmy
      description: Disable a Keycloak user
      operationId: disableBuurmy
      parameters:
        - name: keycloakId
          in: path
          description: Keycloak user ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/feature-flags/{flagName}:
    patch:
      tags:
        - Backoffice - Feature Flags
      summary: Update a global feature flag
      description: Toggles enabled state and/or updates the value of an environment-level flag
      operationId: updateGlobalFlag
      parameters:
        - name: flagName
          in: path
          description: Feature flag name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFeatureFlagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureFlagUpdateResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/users:
    get:
      tags:
        - Backoffice - Users
      summary: List users
      description: Get all users with optional search and pagination
      operationId: listUsers
      parameters:
        - name: search
          in: query
          description: Search term
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            format: int32
            default: 25
          example: 25
        - name: sort
          in: query
          description: Sort field name
          required: false
          schema:
            type: string
          example: createdAt
        - name: direction
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            default: DESC
            description: Sort order direction for paginated queries
            enum:
              - ASC
              - DESC
          example: DESC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseBackofficeUserResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/users/{identifier}:
    get:
      tags:
        - Backoffice - Users
      summary: Get user
      description: Get user details by identifier
      operationId: getUser
      parameters:
        - name: identifier
          in: path
          description: User identifier
          required: true
          schema:
            $ref: "#/components/schemas/UserIdentifier"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackofficeUserResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/teams:
    get:
      tags:
        - Backoffice - Teams
      summary: List teams
      description: Get all teams with optional name search and pagination
      operationId: listTeams
      parameters:
        - name: search
          in: query
          description: Search term
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            format: int32
            default: 25
          example: 25
        - name: sort
          in: query
          description: Sort field name
          required: false
          schema:
            type: string
          example: createdAt
        - name: direction
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            default: DESC
            description: Sort order direction for paginated queries
            enum:
              - ASC
              - DESC
          example: DESC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseBackofficeTeamResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/system/info:
    get:
      tags:
        - Backoffice - System
      summary: Get system info
      description: Returns build info, runtime, migrations, and service health.
      operationId: getSystemInfo
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackofficeSystemInfoResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/settings/rate-limits:
    get:
      tags:
        - Backoffice - Settings
      summary: List all rate limit configs
      operationId: listRateLimits
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RateLimitConfigResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/settings/phone-policy/metadata:
    get:
      tags:
        - Backoffice - Settings
      summary: Get phone policy metadata
      description: Get static country groups and number types for UI rendering
      operationId: getPhonePolicyMetadata
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties: {}
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/scheduler/jobs:
    get:
      tags:
        - Backoffice - Scheduler
      summary: List all jobs
      description: Get all configured Quartz jobs with trigger details
      operationId: listJobs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ScheduledJobResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/scheduler/history:
    get:
      tags:
        - Backoffice - Scheduler
      summary: Get execution history
      description: Get paginated job execution history with optional filters
      operationId: getHistory
      parameters:
        - name: jobName
          in: query
          description: Filter by job name(s)
          required: false
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filter by execution status
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            format: int32
            default: 25
          example: 25
        - name: sort
          in: query
          description: Sort field name
          required: false
          schema:
            type: string
          example: createdAt
        - name: direction
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            default: DESC
            description: Sort order direction for paginated queries
            enum:
              - ASC
              - DESC
          example: DESC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseJobExecutionHistoryResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/registration-invitations/{identifier}:
    get:
      tags:
        - Backoffice - Registration Invitations
      summary: Get registration invitation details
      operationId: get
      parameters:
        - name: identifier
          in: path
          description: Registration invitation identifier
          required: true
          schema:
            $ref: "#/components/schemas/RegistrationInvitationIdentifier"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationInvitationDetailResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/registration-invitations/suggest-code:
    get:
      tags:
        - Backoffice - Registration Invitations
      summary: Generate a suggested invitation code
      operationId: suggestCode
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties:
                  type: string
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/notifications:
    get:
      tags:
        - Backoffice - Notifications
      summary: List notifications
      description: Get all notifications with filtering and pagination
      operationId: listNotifications
      parameters:
        - name: teamIdentifier
          in: query
          description: Filter by team identifier
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: Filter by notification type
          required: false
          schema:
            type: string
        - name: channel
          in: query
          description: Filter by delivery channel
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          required: false
          schema:
            type: string
        - name: recipientEmail
          in: query
          description: Filter by recipient email
          required: false
          schema:
            type: string
        - name: dateFrom
          in: query
          description: Filter from date (ISO-8601)
          required: false
          schema:
            type: string
          example: "2026-01-01T00:00:00"
        - name: dateTo
          in: query
          description: Filter to date (ISO-8601)
          required: false
          schema:
            type: string
          example: "2026-12-31T23:59:59"
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            format: int32
            default: 25
          example: 25
        - name: sort
          in: query
          description: Sort field name
          required: false
          schema:
            type: string
          example: createdAt
        - name: direction
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            default: DESC
            description: Sort order direction for paginated queries
            enum:
              - ASC
              - DESC
          example: DESC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseBackofficeNotificationResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/notifications/{identifier}:
    get:
      tags:
        - Backoffice - Notifications
      summary: Get notification
      description: Get notification details by identifier
      operationId: getNotification
      parameters:
        - name: identifier
          in: path
          description: Notification identifier
          required: true
          schema:
            $ref: "#/components/schemas/NotificationIdentifier"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackofficeNotificationResponse"
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Conflict - business rule violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
      security:
        - bearer-jwt: []
  /backoffice/notifications/stats:
    get:
      tags:
        - Backoffice - Notifications
      summary: Get notification stats
      description: Get aggregated notification statistics
      operationId: getStats
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties: {}
        "400":
          description: Bad request - validation error or malformed input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "401":
          description: Unauthorized - missing or invalid JWT token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
[...]
