openapi: 3.1.0
info:
  title: Buurman API
  description: Property Management API for Small Landlords
  contact:
    name: Buurman Team
    email: info@buurman.io
  version: 0.1.0
servers:
  - url: http://api.local.buurman.io
    description: Generated server url
security:
  - bearer-jwt: []
tags:
  - name: WWS Calculator
    description: Netherlands WWS (Woningwaarderingsstelsel) points calculator
  - name: Reference
    description: Technical reference data for integrators and developers
  - name: Property Taxes
    description: Property tax obligations
  - name: Calendar Feeds
    description: iCalendar feed management and serving
  - name: Teams
    description: Team management
  - name: Property Outdoor Areas
    description: Manage outdoor areas for properties
  - name: Properties
    description: Property management
  - name: Property Acquisitions
    description: Property acquisition data (1:1 per property)
  - name: Property Valuations
    description: Property valuation history (time-series)
  - name: Expenses
    description: Property expense tracking and management
  - name: Contract Rent Periods
    description: Rent timeline management for contracts
  - name: Property Insurances
    description: Property insurance policies
  - name: Contacts
    description: Contact management
  - name: Users
    description: User team management
  - name: Property Financings
    description: Financing instruments and payments (mortgages, loans, etc.)
  - name: Reports
    description: Financial reporting and analytics
  - name: Occupancy Periods
    description: Self-occupancy period management
  - name: Notifications
    description: Notification center and management
  - name: Contract Payment Instructions
    description: Per-contract payment instructions with history
  - name: Photos
    description: Photo management endpoints
  - name: Audit Logs
    description: Activity log management
  - name: Portfolio Dashboard
    description: Portfolio-level investment analytics
  - name: Property Dashboard
    description: Property-level investment analytics
  - name: Amenities
    description: Reference amenity data
  - name: Booklets
    description: Entity booklet PDF exports
  - name: Payments
    description: Rent payment tracking and management
  - name: Property Fees
    description: Recurring property fees (HOA, management, etc.)
  - name: User Preferences
    description: User preferences and notification channel settings
  - name: Health
    description: Health and info endpoints
  - name: Geocoding
    description: Address geocoding
  - name: Webhooks
    description: Provider status callbacks
  - name: Contracts
    description: Rental agreement management
  - name: Contract Extensions
    description: Contract extension lifecycle management
  - name: Data Imports
    description: Data import management for bulk operations
  - name: Dashboard
    description: Dashboard statistics and recent activities
  - name: Registration
    description: Public registration endpoints
  - name: Property Amenities
    description: Manage amenities for properties
  - name: Payment Instructions
    description: Team-level payment instruction templates
  - name: Authentication
    description: User registration and profile management
  - name: Property Financials
    description: Aggregated property financial overview
  - name: Documents
    description: Document management endpoints
  - name: Invitations
    description: Team invitation management
  - name: Feature Flags
    description: Feature flag configuration
  - name: Onboarding
    description: Team onboarding wizard
  - name: Currency
    description: Currency and country-currency mappings
  - name: Jurisdiction Defaults
    description: Country-specific renewal default values
  - name: Rent Regulations
    description: Rent regulation data by country and region
  - name: Rent Increases
    description: Annual rent increase preview and application
  - name: Impersonation
    description: Impersonation session management for support staff
  - name: Data Takeout
    description: Data export and takeout management
  - name: Broadcasts
    description: Broadcast messages for users
paths:
  /users/preferences/notifications:
    $ref: 'paths/users.yaml#/users-preferences-notifications'
  /users/me:
    $ref: 'paths/users.yaml#/users-me'
  /users/default-team:
    $ref: 'paths/users.yaml#/users-default-team'
  /contacts/{contactIdentifier}/addresses/{addressIdentifier}:
    $ref: 'paths/contacts.yaml#/addresses-item'
  /contacts/{identifier}:
    $ref: 'paths/contacts.yaml#/item'
  /contacts/{identifier}/photos/{photoIdentifier}/set-main:
    $ref: 'paths/contacts.yaml#/photos-set-main'
  /teams/{teamIdentifier}:
    $ref: 'paths/teams.yaml#/teams-item'
  /teams/{teamIdentifier}/settings:
    $ref: 'paths/teams.yaml#/teams-settings'
  /teams/{teamIdentifier}/reminder-settings:
    $ref: 'paths/teams.yaml#/teams-reminder-settings'
  /teams/{teamIdentifier}/members/{userIdentifier}/role:
    $ref: 'paths/teams.yaml#/teams-members-role'
  /properties/{propertyIdentifier}/outdoor-areas/{areaIdentifier}:
    $ref: 'paths/properties.yaml#/outdoor-areas-item'
  /properties/{propertyIdentifier}/occupancy-periods/{identifier}:
    $ref: 'paths/occupancy.yaml#/occupancy-periods-item'
  /properties/{propertyIdentifier}/financials/valuations/{identifier}:
    $ref: 'paths/properties.yaml#/financials-valuations-item'
  /properties/{propertyIdentifier}/financials/taxes/{identifier}:
    $ref: 'paths/properties.yaml#/financials-taxes-item'
  /properties/{propertyIdentifier}/financials/insurances/{identifier}:
    $ref: 'paths/properties.yaml#/financials-insurances-item'
  /properties/{propertyIdentifier}/financials/financings/{financingIdentifier}:
    $ref: 'paths/properties.yaml#/financials-financings-item'
  /properties/{propertyIdentifier}/financials/financings/{financingIdentifier}/payments/{paymentIdentifier}:
    $ref: 'paths/properties.yaml#/financials-financings-payments-item'
  /properties/{propertyIdentifier}/financials/fees/{identifier}:
    $ref: 'paths/properties.yaml#/financials-fees-item'
  /properties/{propertyIdentifier}/financials/acquisition:
    $ref: 'paths/properties.yaml#/financials-acquisition'
  /properties/{identifier}:
    $ref: 'paths/properties.yaml#/item'
  /properties/{identifier}/photos/{photoIdentifier}/set-main:
    $ref: 'paths/properties.yaml#/photos-set-main'
  /photos/{identifier}:
    $ref: 'paths/documents.yaml#/photos-item'
  /payments/{identifier}:
    $ref: 'paths/payments.yaml#/payments-item'
  /payments/{identifier}/receivals/{receivalIdentifier}:
    $ref: 'paths/payments.yaml#/payments-receivals-item'
  /payments/{identifier}/mark-paid:
    $ref: 'paths/payments.yaml#/payments-mark-paid'
  /payment-instructions/{identifier}:
    $ref: 'paths/payments.yaml#/payment-instructions-item'
  /expenses/{identifier}:
    $ref: 'paths/expenses.yaml#/item'
  /documents/{identifier}:
    $ref: 'paths/documents.yaml#/documents-item'
  /contracts/{identifier}:
    $ref: 'paths/contracts.yaml#/item'
  /contracts/{contractIdentifier}/rent-periods/{periodIdentifier}:
    $ref: 'paths/contracts.yaml#/rent-periods-item'
  /contracts/{contractIdentifier}/rent-periods/{periodIdentifier}/document:
    $ref: 'paths/contracts.yaml#/rent-periods-document'
  /contracts/{contractIdentifier}/rent-periods/{periodIdentifier}/generate-documents:
    $ref: 'paths/contracts.yaml#/rent-periods-generate-documents'
  /contracts/{contractIdentifier}/payment-instructions/{instructionIdentifier}:
    $ref: 'paths/contracts.yaml#/payment-instructions-item'
  /auth/me:
    $ref: 'paths/users.yaml#/auth-me'
  /webhooks/twilio/status:
    $ref: 'paths/reference.yaml#/webhooks-twilio-status'
  /webhooks/mailgun/events:
    $ref: 'paths/reference.yaml#/webhooks-mailgun-events'
  /users/teams/{teamIdentifier}/leave:
    $ref: 'paths/users.yaml#/users-teams-leave'
  /users/switch-team:
    $ref: 'paths/users.yaml#/users-switch-team'
  /users/me/phone/verify:
    $ref: 'paths/users.yaml#/users-me-phone-verify'
  /users/me/phone/resend-verification:
    $ref: 'paths/users.yaml#/users-me-phone-resend-verification'
  /users/me/phone/cancel-verification:
    $ref: 'paths/users.yaml#/users-me-phone-cancel-verification'
  /contacts:
    $ref: 'paths/contacts.yaml#/collection'
  /contacts/{contactIdentifier}/addresses:
    $ref: 'paths/contacts.yaml#/addresses'
  /contacts/{identifier}/photos:
    $ref: 'paths/contacts.yaml#/photos'
  /contacts/{identifier}/documents:
    $ref: 'paths/contacts.yaml#/documents'
  /teams/{teamIdentifier}/transfer-ownership:
    $ref: 'paths/teams.yaml#/teams-transfer-ownership'
  /teams/{teamIdentifier}/invitations:
    $ref: 'paths/teams.yaml#/teams-invitations'
  /teams/{teamIdentifier}/invitations/{token}/resend:
    $ref: 'paths/teams.yaml#/teams-invitations-resend'
  /registration-invitations/validate:
    $ref: 'paths/registration.yaml#/registration-invitations-validate'
  /properties:
    $ref: 'paths/properties.yaml#/collection'
  /properties/{propertyIdentifier}/outdoor-areas:
    $ref: 'paths/properties.yaml#/outdoor-areas'
  /properties/{propertyIdentifier}/occupancy-periods:
    $ref: 'paths/occupancy.yaml#/occupancy-periods'
  /properties/{propertyIdentifier}/occupancy-periods/{identifier}/end:
    $ref: 'paths/occupancy.yaml#/occupancy-periods-end'
  /properties/{propertyIdentifier}/financials/valuations:
    $ref: 'paths/properties.yaml#/financials-valuations'
  /properties/{propertyIdentifier}/financials/taxes:
    $ref: 'paths/properties.yaml#/financials-taxes'
  /properties/{propertyIdentifier}/financials/insurances:
    $ref: 'paths/properties.yaml#/financials-insurances'
  /properties/{propertyIdentifier}/financials/financings:
    $ref: 'paths/properties.yaml#/financials-financings'
  /properties/{propertyIdentifier}/financials/financings/{financingIdentifier}/payments:
    $ref: 'paths/properties.yaml#/financials-financings-payments'
  /properties/{propertyIdentifier}/financials/financings/{financingIdentifier}/payments/{paymentIdentifier}/documents:
    $ref: 'paths/properties.yaml#/financials-financings-payments-documents'
  /properties/{propertyIdentifier}/financials/financings/{financingIdentifier}/payments/bulk:
    $ref: 'paths/properties.yaml#/financials-financings-payments-bulk'
  /properties/{propertyIdentifier}/financials/fees:
    $ref: 'paths/properties.yaml#/financials-fees'
  /properties/{propertyIdentifier}/amenities:
    $ref: 'paths/properties.yaml#/amenities'
  /properties/{identifier}/photos:
    $ref: 'paths/properties.yaml#/photos'
  /properties/{identifier}/documents:
    $ref: 'paths/properties.yaml#/documents'
  /photos/bulk-download:
    $ref: 'paths/documents.yaml#/photos-bulk-download'
  /payments:
    $ref: 'paths/payments.yaml#/payments'
  /payments/{identifier}/receivals:
    $ref: 'paths/payments.yaml#/payments-receivals'
  /payments/{identifier}/documents:
    $ref: 'paths/payments.yaml#/payments-documents'
  /payments/bulk:
    $ref: 'paths/payments.yaml#/payments-bulk'
  /payments/bulk-generate:
    $ref: 'paths/payments.yaml#/payments-bulk-generate'
  /payments/bulk-mark-paid:
    $ref: 'paths/payments.yaml#/payments-bulk-mark-paid'
  /payments/bulk-reminders:
    $ref: 'paths/payments.yaml#/payments-bulk-reminders'
  /payments/arrears:
    $ref: 'paths/payments.yaml#/payments-arrears'
  /payments/{identifier}/reminders:
    $ref: 'paths/payments.yaml#/payments-reminders'
  /payment-instructions:
    $ref: 'paths/payments.yaml#/payment-instructions'
  /notifications/{identifier}/resend:
    $ref: 'paths/notifications.yaml#/resend'
  /notifications/{identifier}/refresh-status:
    $ref: 'paths/notifications.yaml#/refresh-status'
  /invitations/{token}/accept:
    $ref: 'paths/teams.yaml#/invitations-accept'
  /geocode:
    $ref: 'paths/reference.yaml#/geocode'
  /expenses:
    $ref: 'paths/expenses.yaml#/collection'
  /expenses/{identifier}/documents:
    $ref: 'paths/expenses.yaml#/documents'
  /expenses/bulk:
    $ref: 'paths/expenses.yaml#/bulk'
  /documents/bulk-download:
    $ref: 'paths/documents.yaml#/documents-bulk-download'
  /contracts:
    $ref: 'paths/contracts.yaml#/collection'
  /contracts/{identifier}/reopen:
    $ref: 'paths/contracts.yaml#/reopen'
  /contracts/{identifier}/parties:
    $ref: 'paths/contracts.yaml#/parties'
  /contracts/{identifier}/parties/change-primary:
    $ref: 'paths/contracts.yaml#/parties-change-primary'
  /contracts/{identifier}/generate-payments:
    $ref: 'paths/contracts.yaml#/generate-payments'
  /contracts/{identifier}/duplicate:
    $ref: 'paths/contracts.yaml#/duplicate'
  /contracts/{identifier}/documents:
    $ref: 'paths/contracts.yaml#/documents'
  /contracts/{identifier}/change-status:
    $ref: 'paths/contracts.yaml#/change-status'
  /contracts/{contractIdentifier}/rent-periods:
    $ref: 'paths/contracts.yaml#/rent-periods'
  /contracts/{contractIdentifier}/payment-instructions:
    $ref: 'paths/contracts.yaml#/payment-instructions'
  /contracts/{contractIdentifier}/extensions:
    $ref: 'paths/contract-extensions.yaml#/extensions'
  /contracts/{contractIdentifier}/extensions/{extensionIdentifier}:
    $ref: 'paths/contract-extensions.yaml#/extensions-item'
  /contracts/{contractIdentifier}/extensions/{extensionIdentifier}/activate:
    $ref: 'paths/contract-extensions.yaml#/extensions-activate'
  /contracts/{contractIdentifier}/extensions/{extensionIdentifier}/confirm:
    $ref: 'paths/contract-extensions.yaml#/extensions-confirm'
  /contracts/{contractIdentifier}/extensions/{extensionIdentifier}/decline:
    $ref: 'paths/contract-extensions.yaml#/extensions-decline'
  /contracts/{contractIdentifier}/extensions/{extensionIdentifier}/addendum:
    $ref: 'paths/contract-extensions.yaml#/extensions-addendum'
  /contracts/{contractIdentifier}/extensions/{extensionIdentifier}/rent-increase-letter:
    $ref: 'paths/contract-extensions.yaml#/extensions-rent-increase-letter'
  /contracts/{contractIdentifier}/extensions/{extensionIdentifier}/generate-documents:
    $ref: 'paths/contract-extensions.yaml#/extensions-generate-documents'
  /calendar/feeds:
    $ref: 'paths/calendar-feeds.yaml#/feeds'
  /calendar/feeds/{identifier}/rotate:
    $ref: 'paths/calendar-feeds.yaml#/feeds-rotate'
  /auth/verify-email:
    $ref: 'paths/users.yaml#/auth-verify-email'
  /auth/verify-email-token:
    $ref: 'paths/users.yaml#/auth-verify-email-token'
  /auth/resend-verification:
    $ref: 'paths/users.yaml#/auth-resend-verification'
  /auth/register:
    $ref: 'paths/users.yaml#/auth-register'
  /users/preferences:
    $ref: 'paths/users.yaml#/users-preferences'
  /users/phone-policy:
    $ref: 'paths/users.yaml#/users-phone-policy'
  /users/me/teams:
    $ref: 'paths/users.yaml#/users-me-teams'
  /contacts/{identifier}/history:
    $ref: 'paths/contacts.yaml#/history'
  /contacts/{identifier}/audit-log:
    $ref: 'paths/contacts.yaml#/audit-log'
  /contacts/documents/{documentIdentifier}/download:
    $ref: 'paths/contacts.yaml#/documents-download'
  /teams/{teamIdentifier}/members:
    $ref: 'paths/teams.yaml#/teams-members'
  /teams/{teamIdentifier}/invitations/pending:
    $ref: 'paths/teams.yaml#/teams-invitations-pending'
  /teams/current:
    $ref: 'paths/teams.yaml#/teams-current'
  /reports/tax-summary:
    $ref: 'paths/dashboard.yaml#/reports-tax-summary'
  /reports/financial-overview:
    $ref: 'paths/dashboard.yaml#/reports-financial-overview'
  /reports/export/transactions/pdf:
    $ref: 'paths/dashboard.yaml#/reports-export-transactions-pdf'
  /reports/export/transactions/csv:
    $ref: 'paths/dashboard.yaml#/reports-export-transactions-csv'
  /reports/export/transactions/excel:
    $ref: 'paths/dashboard.yaml#/reports-export-transactions-excel'
  /reports/export/transactions/google-sheet:
    $ref: 'paths/dashboard.yaml#/reports-export-transactions-google-sheet'
  /reports/date-range:
    $ref: 'paths/dashboard.yaml#/reports-date-range'
  /reports/charts/property-comparison:
    $ref: 'paths/dashboard.yaml#/reports-charts-property-comparison'
  /reports/charts/occupancy-trend:
    $ref: 'paths/dashboard.yaml#/reports-charts-occupancy-trend'
  /reports/charts/income-trend:
    $ref: 'paths/dashboard.yaml#/reports-charts-income-trend'
  /reports/charts/expense-breakdown:
    $ref: 'paths/dashboard.yaml#/reports-charts-expense-breakdown'
  /registration/config:
    $ref: 'paths/registration.yaml#/registration-config'
  /reference/entity-prefixes:
    $ref: 'paths/reference.yaml#/reference-entity-prefixes'
  /reference/currencies:
    $ref: 'paths/reference.yaml#/reference-currencies'
  /properties/{propertyIdentifier}/occupancy-periods/timeline:
    $ref: 'paths/occupancy.yaml#/occupancy-periods-timeline'
  /properties/{propertyIdentifier}/financials:
    $ref: 'paths/properties.yaml#/financials'
  /properties/{propertyIdentifier}/financials/valuations/latest:
    $ref: 'paths/properties.yaml#/financials-valuations-latest'
  /properties/{propertyIdentifier}/financials/financings/{financingIdentifier}/payments/documents/{documentIdentifier}/download:
    $ref: 'paths/properties.yaml#/financials-financings-payments-documents-download'
  /properties/{identifier}/dashboard:
    $ref: 'paths/properties.yaml#/dashboard'
  /properties/{identifier}/dashboard/export/pdf:
    $ref: 'paths/properties.yaml#/dashboard-export-pdf'
  /properties/{identifier}/dashboard/export/csv:
    $ref: 'paths/properties.yaml#/dashboard-export-csv'
  /properties/{identifier}/dashboard/export/excel:
    $ref: 'paths/properties.yaml#/dashboard-export-excel'
  /properties/{identifier}/dashboard/export/google-sheet:
    $ref: 'paths/properties.yaml#/dashboard-export-google-sheet'
  /portfolio/dashboard:
    $ref: 'paths/portfolio-dashboard.yaml#/portfolio-dashboard'
  /portfolio/dashboard/export/pdf:
    $ref: 'paths/portfolio-dashboard.yaml#/portfolio-dashboard-export-pdf'
  /portfolio/dashboard/export/csv:
    $ref: 'paths/portfolio-dashboard.yaml#/portfolio-dashboard-export-csv'
  /portfolio/dashboard/export/excel:
    $ref: 'paths/portfolio-dashboard.yaml#/portfolio-dashboard-export-excel'
  /portfolio/dashboard/export/google-sheet:
    $ref: 'paths/portfolio-dashboard.yaml#/portfolio-dashboard-export-google-sheet'
  /wws/calculate:
    $ref: 'paths/reference.yaml#/wws-calculate'
  /wws/calculate-and-save:
    $ref: 'paths/reference.yaml#/wws-calculate-and-save'
  /wws/properties/{propertyIdentifier}/pre-fill:
    $ref: 'paths/reference.yaml#/wws-properties-pre-fill'
  /wws/properties/{propertyIdentifier}/calculations:
    $ref: 'paths/reference.yaml#/wws-properties-calculations'
  /wws/properties/{propertyIdentifier}/latest:
    $ref: 'paths/reference.yaml#/wws-properties-latest'
  /wws/calculations/{calculationIdentifier}:
    $ref: 'paths/reference.yaml#/wws-calculations-item'
  /properties/{identifier}/audit-log:
    $ref: 'paths/properties.yaml#/audit-log'
  /properties/documents/{documentIdentifier}/download:
    $ref: 'paths/properties.yaml#/documents-download'
  /photos:
    $ref: 'paths/documents.yaml#/photos'
  /photos/{identifier}/preview:
    $ref: 'paths/documents.yaml#/photos-preview'
  /photos/{identifier}/download:
    $ref: 'paths/documents.yaml#/photos-download'
  /payments/{identifier}/audit-log:
    $ref: 'paths/payments.yaml#/payments-audit-log'
  /payments/stats:
    $ref: 'paths/payments.yaml#/payments-stats'
  /payments/overdue:
    $ref: 'paths/payments.yaml#/payments-overdue'
  /payments/documents/{documentIdentifier}/download:
    $ref: 'paths/payments.yaml#/payments-documents-download'
  /notifications:
    $ref: 'paths/notifications.yaml#/collection'
  /notifications/{identifier}:
    $ref: 'paths/notifications.yaml#/item'
  /notifications/stats:
    $ref: 'paths/notifications.yaml#/stats'
  /invitations/{token}:
    $ref: 'paths/teams.yaml#/invitations-item'
  /invitations/pending:
    $ref: 'paths/teams.yaml#/invitations-pending'
  /info:
    $ref: 'paths/reference.yaml#/info'
  /health:
    $ref: 'paths/reference.yaml#/health'
  /feature-flags:
    $ref: 'paths/reference.yaml#/feature-flags'
  /expenses/{identifier}/audit-log:
    $ref: 'paths/expenses.yaml#/audit-log'
  /expenses/stats:
    $ref: 'paths/expenses.yaml#/stats'
  /expenses/documents/{documentIdentifier}/download:
    $ref: 'paths/expenses.yaml#/documents-download'
  /documents:
    $ref: 'paths/documents.yaml#/documents'
  /documents/{identifier}/preview:
    $ref: 'paths/documents.yaml#/documents-preview'
  /documents/{identifier}/download:
    $ref: 'paths/documents.yaml#/documents-download'
  /dashboard/stats:
    $ref: 'paths/dashboard.yaml#/dashboard-stats'
  /dashboard/recent-activities:
    $ref: 'paths/dashboard.yaml#/dashboard-recent-activities'
  /dashboard/upcoming-renewals:
    $ref: 'paths/dashboard.yaml#/dashboard-upcoming-renewals'
  /dashboard/pending-extensions:
    $ref: 'paths/dashboard.yaml#/dashboard-pending-extensions'
  /imports/upload:
    $ref: 'paths/imports.yaml#/upload'
  /imports/preview:
    $ref: 'paths/imports.yaml#/preview'
  /imports/execute:
    $ref: 'paths/imports.yaml#/execute'
  /imports:
    $ref: 'paths/imports.yaml#/collection'
  /imports/{identifier}:
    $ref: 'paths/imports.yaml#/item'
  /imports/{identifier}/revert:
    $ref: 'paths/imports.yaml#/revert'
  /imports/{identifier}/error-report:
    $ref: 'paths/imports.yaml#/error-report'
  /contracts/{identifier}/audit-log:
    $ref: 'paths/contracts.yaml#/audit-log'
  /contracts/{contractIdentifier}/payment-instructions/current:
    $ref: 'paths/contracts.yaml#/payment-instructions-current'
  /contracts/metadata-schema/{countryCode}:
    $ref: 'paths/contracts.yaml#/metadata-schema-item'
  /contracts/documents/{documentIdentifier}/download:
    $ref: 'paths/contracts.yaml#/documents-download'
  /calendar/ical/{feedToken}:
    $ref: 'paths/calendar-feeds.yaml#/ical-item'
  /booklets/contact/{contactIdentifier}:
    $ref: 'paths/documents.yaml#/booklets-contact-item'
  /booklets/contacts/csv:
    $ref: 'paths/documents.yaml#/booklets-contacts-csv'
  /booklets/contacts/xlsx:
    $ref: 'paths/documents.yaml#/booklets-contacts-xlsx'
  /booklets/contacts/google-sheet:
    $ref: 'paths/documents.yaml#/booklets-contacts-google-sheet'
  /booklets/properties/csv:
    $ref: 'paths/documents.yaml#/booklets-properties-csv'
  /booklets/properties/xlsx:
    $ref: 'paths/documents.yaml#/booklets-properties-xlsx'
  /booklets/properties/google-sheet:
    $ref: 'paths/documents.yaml#/booklets-properties-google-sheet'
  /booklets/payments/csv:
    $ref: 'paths/documents.yaml#/booklets-payments-csv'
  /booklets/payments/xlsx:
    $ref: 'paths/documents.yaml#/booklets-payments-xlsx'
  /booklets/payments/google-sheet:
    $ref: 'paths/documents.yaml#/booklets-payments-google-sheet'
  /booklets/expenses/csv:
    $ref: 'paths/documents.yaml#/booklets-expenses-csv'
  /booklets/expenses/xlsx:
    $ref: 'paths/documents.yaml#/booklets-expenses-xlsx'
  /booklets/expenses/google-sheet:
    $ref: 'paths/documents.yaml#/booklets-expenses-google-sheet'
  /booklets/contracts/csv:
    $ref: 'paths/documents.yaml#/booklets-contracts-csv'
  /booklets/contracts/xlsx:
    $ref: 'paths/documents.yaml#/booklets-contracts-xlsx'
  /booklets/contracts/google-sheet:
    $ref: 'paths/documents.yaml#/booklets-contracts-google-sheet'
  /booklets/property/{propertyIdentifier}:
    $ref: 'paths/documents.yaml#/booklets-property-item'
  /booklets/contract/{contractIdentifier}:
    $ref: 'paths/documents.yaml#/booklets-contract-item'
  /contracts/{contractIdentifier}/summary:
    $ref: 'paths/documents.yaml#/contract-summary'
  /properties/{propertyIdentifier}/summary:
    $ref: 'paths/documents.yaml#/property-summary'
  /contacts/{contactIdentifier}/summary:
    $ref: 'paths/documents.yaml#/contact-summary'
  /jurisdiction-defaults:
    $ref: 'paths/jurisdiction-defaults.yaml#/jurisdiction-defaults'
  /audit-logs:
    $ref: 'paths/audit-logs.yaml#/collection'
  /amenities:
    $ref: 'paths/reference.yaml#/amenities'
  /contacts/documents/{documentIdentifier}:
    $ref: 'paths/contacts.yaml#/documents-item'
  /contacts/{contactIdentifier}/notes:
    $ref: 'paths/contacts.yaml#/notes'
  /contacts/{contactIdentifier}/notes/{noteIdentifier}:
    $ref: 'paths/contacts.yaml#/notes-item'
  /contacts/{contactIdentifier}/notes/{noteIdentifier}/pin:
    $ref: 'paths/contacts.yaml#/notes-pin'
  /contacts/{contactIdentifier}/notes/{noteIdentifier}/unpin:
    $ref: 'paths/contacts.yaml#/notes-unpin'
  /contacts/{contactIdentifier}/relationships:
    $ref: 'paths/contacts.yaml#/relationships'
  /contacts/{contactIdentifier}/relationships/{relationshipIdentifier}:
    $ref: 'paths/contacts.yaml#/relationships-item'
  /contacts/{contactIdentifier}/tags:
    $ref: 'paths/contacts.yaml#/tags'
  /contacts/{contactIdentifier}/tags/{tag}:
    $ref: 'paths/contacts.yaml#/tags-item'
  /contacts/check-duplicates:
    $ref: 'paths/contacts.yaml#/check-duplicates'
  /contacts/{contactIdentifier}/activity:
    $ref: 'paths/contacts.yaml#/activity'
  /contacts/{contactIdentifier}/erase:
    $ref: 'paths/contacts.yaml#/erase'
  /teams/{teamIdentifier}/members/{userIdentifier}:
    $ref: 'paths/teams.yaml#/teams-members-item'
  /properties/{propertyIdentifier}/financials/financings/{financingIdentifier}/payments/documents/{documentIdentifier}:
    $ref: 'paths/properties.yaml#/financials-financings-payments-documents-item'
  /properties/{propertyIdentifier}/amenities/{amenityIdentifier}:
    $ref: 'paths/properties.yaml#/amenities-item'
  /properties/documents/{documentIdentifier}:
    $ref: 'paths/properties.yaml#/documents-item'
  /payments/documents/{documentIdentifier}:
    $ref: 'paths/payments.yaml#/payments-documents-item'
  /expenses/documents/{documentIdentifier}:
    $ref: 'paths/expenses.yaml#/documents-item'
  /contracts/{identifier}/parties/{partyIdentifier}:
    $ref: 'paths/contracts.yaml#/parties-item'
  /contracts/documents/{documentIdentifier}:
    $ref: 'paths/contracts.yaml#/documents-item'
  /calendar/feeds/{identifier}:
    $ref: 'paths/calendar-feeds.yaml#/feeds-item'
  /onboarding/status:
    $ref: 'paths/onboarding.yaml#/status'
  /onboarding/complete:
    $ref: 'paths/onboarding.yaml#/complete'
  /countries/currencies:
    $ref: 'paths/currency.yaml#/countries-currencies'
  /countries/{code}/currency:
    $ref: 'paths/currency.yaml#/countries-currency'
  /teams/{teamIdentifier}/currency-change:
    $ref: 'paths/currency.yaml#/teams-currency-change'
  /rent-regulations/countries:
    $ref: 'paths/rent-regulations.yaml#/countries'
  /rent-regulations/countries/{code}:
    $ref: 'paths/rent-regulations.yaml#/countries-item'
  /rent-regulations/countries/{code}/current:
    $ref: 'paths/rent-regulations.yaml#/countries-current'
  /rent-regulations/countries/{code}/rules:
    $ref: 'paths/rent-regulations.yaml#/countries-rules'
  /rent-regulations/countries/{code}/regions/{regionCode}/current:
    $ref: 'paths/rent-regulations.yaml#/countries-regions-current'
  /rent-regulations/country-requests:
    $ref: 'paths/rent-regulations.yaml#/country-requests'
  /rent-increases/preview:
    $ref: 'paths/rent-increases.yaml#/preview'
  /rent-increases/apply:
    $ref: 'paths/rent-increases.yaml#/apply'
  /broadcasts:
    $ref: 'paths/broadcasts.yaml#/collection'
  /broadcasts/public:
    $ref: 'paths/broadcasts.yaml#/public'
  /broadcasts/{identifier}/dismiss:
    $ref: 'paths/broadcasts.yaml#/dismiss'
  /takeouts:
    $ref: 'paths/takeouts.yaml#/collection'
  /takeouts/google-sheet:
    $ref: 'paths/takeouts.yaml#/google-sheet'
  /takeouts/{identifier}:
    $ref: 'paths/takeouts.yaml#/item'
  /auth/impersonate/exchange:
    $ref: 'paths/impersonation.yaml#/exchange'
  /auth/impersonate/session:
    $ref: 'paths/impersonation.yaml#/session'
  /auth/impersonate/end:
    $ref: 'paths/impersonation.yaml#/end'
components:
  schemas:
    AmenityIdentifier:
      type: string
      description: Amenity identifier
    CalendarFeedIdentifier:
      type: string
      description: Calendar feed identifier
    ContractIdentifier:
      type: string
      description: Contract identifier
    ContractPartyIdentifier:
      type: string
      description: Contract party identifier
    ContractPaymentInstructionIdentifier:
      type: string
      description: Contract payment instruction identifier
    ContractRentPeriodIdentifier:
      type: string
      description: Contract rent period identifier
    DataImportIdentifier:
      type: string
      description: Data import identifier
    DocumentIdentifier:
      type: string
      description: Document identifier
    ExpenseIdentifier:
      type: string
      description: Expense identifier
    FinancingPaymentIdentifier:
      type: string
      description: Financing payment identifier
    NotificationIdentifier:
      type: string
      description: Notification identifier
    OccupancyPeriodIdentifier:
      type: string
      description: Occupancy period identifier
    PaymentIdentifier:
      type: string
      description: Payment identifier
    PaymentInstructionIdentifier:
      type: string
      description: Payment instruction identifier
    PaymentReceivalIdentifier:
      type: string
      description: Payment receival identifier
    PhotoIdentifier:
      type: string
      description: Photo identifier
    PropertyFeeIdentifier:
      type: string
      description: Property fee identifier
    PropertyFinancingIdentifier:
      type: string
      description: Property financing identifier
    PropertyIdentifier:
      type: string
      description: Property identifier
    PropertyInsuranceIdentifier:
      type: string
      description: Property insurance identifier
    PropertyOutdoorAreaIdentifier:
      type: string
      description: Property outdoor area identifier
    PropertyTaxIdentifier:
      type: string
      description: Property tax identifier
    PropertyValuationIdentifier:
      type: string
      description: Property valuation identifier
    TeamIdentifier:
      type: string
      description: Team identifier
    ContactAddressIdentifier:
      type: string
      description: Contact address identifier
    ContactIdentifier:
      type: string
      description: Contact identifier
    ContactNoteIdentifier:
      type: string
      description: Contact note identifier
    ContactRelationshipIdentifier:
      type: string
      description: Contact relationship identifier
    UserIdentifier:
      type: string
      description: User identifier
    WwsCalculationIdentifier:
      type: string
      description: WWS calculation identifier
      example: "wws_01JGRM5N7GWRR8PQZRVP8T4M1H"
    NotificationTypePreferenceRequestEntry:
      type: object
      properties:
        notificationType:
          type: string
        emailEnabled:
          type: boolean
        smsEnabled:
          type: boolean
      required:
        - emailEnabled
        - notificationType
        - smsEnabled
    NotificationTypePreferenceResponseEntry:
      type: object
      description: Notification-type preference as returned by the API (includes display label)
      properties:
        notificationType:
          type: string
        displayName:
          type: string
        emailEnabled:
          type: boolean
        smsEnabled:
          type: boolean
      required:
        - displayName
        - emailEnabled
        - notificationType
        - smsEnabled
    UpdateNotificationTypePreferencesRequest:
      type: object
      properties:
        preferences:
          type: array
          items:
            $ref: "#/components/schemas/NotificationTypePreferenceRequestEntry"
      required:
        - preferences
    NotificationTypePreferencesResponse:
      type: object
      properties:
        globalEmailEnabled:
          type: boolean
        globalSmsEnabled:
          type: boolean
        smsAvailable:
          type: boolean
        smsFeatureEnabled:
          type: boolean
        emailAvailable:
          type: boolean
        phoneVerified:
          type: boolean
        preferences:
          type: array
          items:
            $ref: "#/components/schemas/NotificationTypePreferenceResponseEntry"
      required:
        - emailAvailable
        - globalEmailEnabled
        - globalSmsEnabled
        - phoneVerified
        - preferences
        - smsAvailable
        - smsFeatureEnabled
    UpdateUserProfileRequest:
      type: object
      properties:
        firstName:
          type: string
          maxLength: 100
          minLength: 1
        lastName:
          type: string
          maxLength: 100
          minLength: 1
        phone:
          type: string
          pattern: ^\+[1-9]\d{1,14}$
      required:
        - firstName
        - lastName
    UserProfileResponse:
      type: object
      description: Authenticated user profile with contact and verification details
      properties:
        identifier:
          type: string
          description: Unique user identifier
          example: usr_01HZQX7V8B3K5M2N4P6R9T0W
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        phoneVerified:
          type: boolean
      required:
        - email
        - firstName
        - identifier
        - lastName
        - phoneVerified
    SetDefaultTeamRequest:
      type: object
      properties:
        teamIdentifier:
          type: string
      required:
        - teamIdentifier
    UserTeamResponse:
      type: object
      properties:
        identifier:
          type: string
        teamName:
          type: string
        role:
          type: string
        isOwner:
          type: boolean
        isDefault:
          type: boolean
        isActive:
          type: boolean
        memberCount:
          type: integer
          format: int32
        joinedAt:
          type: string
          format: date-time
      required:
        - identifier
        - isActive
        - isDefault
        - isOwner
        - joinedAt
        - memberCount
        - role
        - teamName
    UpdateContactAddressRequest:
      type: object
      properties:
        street:
          type: string
          minLength: 1
        city:
          type: string
          minLength: 1
        postalCode:
          type: string
        countryCode:
          type: string
          minLength: 1
        addressType:
          type: string
          description: Purpose or classification of the contact address
          enum:
            - CURRENT
            - MAILING
            - RELATIVE
            - WORK
            - HISTORIC
        status:
          type: string
          description: Whether the address is currently in use
          enum:
            - ACTIVE
            - INACTIVE
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        geocodeAccuracy:
          type: string
      required:
        - addressType
        - city
        - countryCode
        - status
        - street
    ContactAddressResponse:
      type: object
      properties:
        identifier:
          type: string
        street:
          type: string
        city:
          type: string
        postalCode:
          type: string
        countryCode:
          type: string
        addressType:
          type: string
          description: Purpose or classification of the contact address
          enum:
            - CURRENT
            - MAILING
            - RELATIVE
            - WORK
            - HISTORIC
        status:
          type: string
          description: Whether the address is currently in use
          enum:
            - ACTIVE
            - INACTIVE
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        geocodeAccuracy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - addressType
        - city
        - countryCode
        - createdAt
        - identifier
        - postalCode
        - status
        - street
    UpdateContactRequest:
      type: object
      required:
        - contactType
      properties:
        contactType:
          $ref: '#/components/schemas/ContactType'
        firstName:
          type: string
          minLength: 1
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
          pattern: ^\+[1-9]\d{1,14}$
        taxNumber:
          type: string
        idNumber:
          type: string
        additionalInfo:
          type: string
        companyName:
          type: string
        tradeName:
          type: string
        industry:
          type: string
        invoiceEmail:
          type: string
        paymentRemindersEnabled:
          type: boolean
          description: Consent to receive tenant-facing payment reminder emails (off by default)
        website:
          type: string
        dateOfBirth:
          type: string
          format: date
        idExpiryDate:
          type: string
          format: date
        notes:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/ContactTag'
    PropertySummary:
      type: object
      properties:
        identifier:
          type: string
        street:
          type: string
        city:
          type: string
        postalCode:
          type: string
        propertyCategory:
          type: string
          description: High-level property classification
          enum:
            - RESIDENTIAL
            - COMMERCIAL
            - INDUSTRIAL
            - AGRICULTURAL
            - MIXED_USE
        propertyType:
          type: string
          description: Specific property type within a category
          enum:
            - APARTMENT
            - HOUSE
            - STUDIO
            - ROOM
            - VILLA
            - TOWNHOUSE
            - OTHER_RESIDENTIAL
            - OFFICE
            - RETAIL
            - RESTAURANT
            - HOTEL
            - SHOWROOM
            - AUTO_DEALERSHIP
            - SNACKBAR
            - CAFE
            - MOTEL
            - BAR
            - BED_AND_BREAKFAST
            - OTHER_COMMERCIAL
            - WAREHOUSE
            - WORKSHOP
            - FACTORY
            - DATA_CENTER
            - COLD_STORAGE
            - GARAGE
            - OTHER_INDUSTRIAL
            - FARMLAND
            - RANCH
            - GREENHOUSE
            - ORCHARD
            - VINEYARD
            - OTHER_AGRICULTURAL
            - MIXED_USE
            - COMMERCIAL
        status:
          type: string
          description: Current occupancy or availability status of the property
          enum:
            - VACANT
            - OCCUPIED
            - SELF_OCCUPIED
            - MAINTENANCE
            - UNAVAILABLE
            - UNDER_RENOVATION
            - FALLOW
            - LISTED
      required:
        - city
        - identifier
        - postalCode
        - propertyCategory
        - propertyType
        - status
        - street
    BalanceStatus:
      type: string
      description: Balance status indicator for a contact
      enum:
        - NONE
        - ALL_PAID
        - PENDING
        - OVERDUE
    ContactBalanceSummary:
      type: object
      description: Outstanding payment balance summary for a contact
      properties:
        outstandingAmount:
          type: number
          description: Total outstanding amount in major currency units
        currency:
          type: string
          description: ISO 4217 currency code
          example: EUR
        status:
          $ref: '#/components/schemas/BalanceStatus'
        outstandingPaymentCount:
          type: integer
          format: int32
          description: Number of outstanding payments
        guaranteedAmount:
          type: number
          description: Total amount this contact guarantees (as GUARANTOR on contracts)
        guaranteedPaymentCount:
          type: integer
          format: int32
          description: Number of payments this contact guarantees
      required:
        - currency
        - outstandingAmount
        - outstandingPaymentCount
        - status
    ContactPropertyAssignment:
      type: object
      properties:
        property:
          $ref: "#/components/schemas/PropertySummary"
        role:
          type: string
      required:
        - property
    ContactListItemResponse:
      type: object
      description: Lightweight contact summary for list views with active contract count
      properties:
        identifier:
          type: string
          description: Unique contact identifier
          example: cnt_01HZQX7V8B3K5M2N4P6R9T0W
        contactType:
          $ref: '#/components/schemas/ContactType'
        displayName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
        companyName:
          type: string
        mainPhotoThumbnailUrl:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/ContactTag'
        activeContractCount:
          type: integer
          format: int32
          description: Number of active contracts this contact is party to
        balanceSummary:
          $ref: '#/components/schemas/ContactBalanceSummary'
        dataRetentionStatus:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - activeContractCount
        - contactType
        - createdAt
        - displayName
        - identifier
    ContactResponse:
      type: object
      description: Contact details including contact information and active property assignments
      properties:
        identifier:
          type: string
          description: Unique contact identifier
          example: cnt_01HZQX7V8B3K5M2N4P6R9T0W
        contactType:
          $ref: '#/components/schemas/ContactType'
        displayName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
        taxNumber:
          type: string
        idNumber:
          type: string
        additionalInfo:
          type: string
        companyName:
          type: string
        tradeName:
          type: string
        industry:
          type: string
        invoiceEmail:
          type: string
        paymentRemindersEnabled:
          type: boolean
          description: Consent to receive tenant-facing payment reminder emails (off by default)
          format: email
        website:
          type: string
        dateOfBirth:
          type: string
          format: date
        idExpiryDate:
          type: string
          format: date
        notes:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/ContactTag'
        dataRetentionStatus:
          $ref: '#/components/schemas/DataRetentionStatus'
        mainPhotoUrl:
          type: string
        mainPhotoThumbnailUrl:
          type: string
        activeProperties:
          type: array
          items:
            $ref: "#/components/schemas/ContactPropertyAssignment"
        balanceSummary:
          $ref: '#/components/schemas/ContactBalanceSummary'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - activeProperties
        - contactType
        - createdAt
        - dataRetentionStatus
        - displayName
        - identifier
    PhotoResponse:
      type: object
      properties:
        identifier:
          type: string
        entityType:
          type: string
        entityIdentifier:
          type: string
        fileKey:
          type: string
        fileName:
          type: string
        fileSize:
          type: integer
          format: int64
        mimeType:
          type: string
        title:
          type: string
        notes:
          type: string
        isMainPhoto:
          type: boolean
        uploadedAt:
          type: string
          format: date-time
        downloadUrl:
          type: string
        thumbnailUrl:
          type: string
      required:
        - entityIdentifier
        - entityType
        - fileKey
        - fileName
        - fileSize
        - identifier
        - isMainPhoto
        - mimeType
        - uploadedAt
    UpdateTeamRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
          minLength: 2
      required:
        - name
    TeamResponse:
      type: object
      description: Team summary with member count
      properties:
        identifier:
          type: string
          description: Unique team identifier
          example: team_01HZQX7V8B3K5M2N4P6R9T0W
        teamName:
          type: string
        memberCount:
          type: integer
          format: int64
        createdAt:
          type: string
          format: date-time
      required:
        - createdAt
        - identifier
        - memberCount
        - teamName
    PaymentSettings:
      type: object
      properties:
        paymentsAheadCount:
          type: integer
          format: int32
          maximum: 12
          minimum: 1
        autoGenerationEnabled:
          type: boolean
      required:
        - autoGenerationEnabled
        - paymentsAheadCount
    RegionalSettings:
      type: object
      properties:
        defaultCurrency:
          type: string
          maxLength: 3
          minLength: 3
        defaultCountry:
          type: string
          maxLength: 100
        timezone:
          type: string
          maxLength: 50
        dateFormat:
          type: string
          maxLength: 20
        fiscalYearStartMonth:
          type: string
          maxLength: 2
          minLength: 2
        defaultLanguage:
          type: string
          description: Default language for the team
          enum:
            - en
            - nl
            - pt
            - es
            - fr
            - de
            - it
            - sv
            - fi
            - el
            - pl
            - da
            - nb
    UpdateTeamSettingsRequest:
      type: object
      properties:
        payments:
          $ref: "#/components/schemas/PaymentSettings"
        regional:
          $ref: "#/components/schemas/RegionalSettings"
    TeamPreferencesResponse:
      type: object
      properties:
        payments:
          $ref: "#/components/schemas/PaymentSettings"
        regional:
          $ref: "#/components/schemas/RegionalSettings"
      required:
        - payments
        - regional
    UpdateMemberRoleRequest:
      type: object
      properties:
        role:
          type: string
          description: Role assigned to a team member determining access level
          enum:
            - TEAM_ADMIN
            - TEAM_EDITOR
            - TEAM_VIEWER
      required:
        - role
    TeamMemberResponse:
      type: object
      properties:
        userIdentifier:
          type: string
        email:
          type: string
        name:
          type: string
        role:
          type: string
        isOwner:
          type: boolean
        joinedAt:
          type: string
          format: date-time
        isCurrentUser:
          type: boolean
      required:
        - email
        - isCurrentUser
        - isOwner
        - joinedAt
        - name
        - role
        - userIdentifier
    PropertyOutdoorAreaRequest:
      type: object
      properties:
        type:
          type: string
          minLength: 1
        areaValue:
          type: number
        areaUnit:
          type: string
      required:
        - type
    PropertyOutdoorAreaResponse:
      type: object
      properties:
        identifier:
          type: string
        type:
          type: string
        areaValue:
          type: number
        areaUnit:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - createdAt
        - identifier
        - type
    UpdateOccupancyPeriodRequest:
      type: object
      properties:
        startDate:
          type: string
          format: date
        type:
          type: string
          description: Nature of the self-occupancy period
          enum:
            - PERSONAL
            - FAMILY
            - BUSINESS
        endDate:
          type: string
          format: date
        occupantName:
          type: string
          maxLength: 255
        monthlyImputedRent:
          type: number
          minimum: 0
        notes:
          type: string
          maxLength: 500
    OccupancyPeriodResponse:
      type: object
      properties:
        identifier:
          type: string
        propertyIdentifier:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        type:
          type: string
          description: Nature of the self-occupancy period
          enum:
            - PERSONAL
            - FAMILY
            - BUSINESS
        occupantName:
          type: string
        monthlyImputedRent:
          type: number
        endReason:
          type: string
          description: Reason for ending the self-occupancy period
          enum:
            - CONVERTING_TO_RENTAL
            - SELLING
            - RENOVATION
            - OTHER
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - createdAt
        - identifier
        - propertyIdentifier
        - startDate
        - type
    UpdatePropertyValuationRequest:
      type: object
      properties:
        valuationType:
          type: string
          description: Method or source of the property valuation
          enum:
            - MARKET
            - APPRAISAL
            - TAX_ASSESSED
            - PURCHASE
            - INSURANCE
            - USER_ESTIMATE
        valuationDate:
          type: string
          format: date
        amount:
          type: number
          exclusiveMinimum: 0
        currency:
          type: string
        source:
          type: string
        notes:
          type: string
    PropertyValuationResponse:
      type: object
      properties:
        identifier:
          type: string
        valuationType:
          type: string
          description: Method or source of the property valuation
          enum:
            - MARKET
            - APPRAISAL
            - TAX_ASSESSED
            - PURCHASE
            - INSURANCE
            - USER_ESTIMATE
        valuationDate:
          type: string
          format: date
        amount:
          type: number
        currency:
          type: string
        source:
          type: string
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - amount
        - createdAt
        - currency
        - identifier
        - updatedAt
        - valuationDate
        - valuationType
    UpdatePropertyTaxRequest:
      type: object
      properties:
        taxType:
          type: string
          description: Classification of property tax
          enum:
            - PROPERTY
            - MUNICIPAL
            - STATE
            - LOCAL
            - LAND
            - SPECIAL_ASSESSMENT
            - OTHER
        authority:
          type: string
        annualAmount:
          type: number
          exclusiveMinimum: 0
        currency:
          type: string
        paymentFrequency:
          type: string
        dueMonths:
          type: string
        taxYear:
          type: integer
          format: int32
          maximum: 2100
          minimum: 1900
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        status:
          type: string
          description: Current status of the tax obligation
          enum:
            - ACTIVE
            - EXPIRED
            - EXEMPT
        notes:
          type: string
    PropertyTaxResponse:
      type: object
      properties:
        identifier:
          type: string
        property:
          $ref: "#/components/schemas/PropertySummary"
        taxType:
          type: string
          description: Classification of property tax
          enum:
            - PROPERTY
            - MUNICIPAL
            - STATE
            - LOCAL
            - LAND
            - SPECIAL_ASSESSMENT
            - OTHER
        authority:
          type: string
        annualAmount:
          type: number
        currency:
          type: string
        paymentFrequency:
          type: string
        dueMonths:
          type: string
        taxYear:
          type: integer
          format: int32
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        status:
          type: string
          description: Current status of the tax obligation
          enum:
            - ACTIVE
            - EXPIRED
            - EXEMPT
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - annualAmount
        - createdAt
        - currency
        - identifier
        - paymentFrequency
        - status
        - taxType
    UpdatePropertyInsuranceRequest:
      type: object
      properties:
        insuranceType:
          type: string
          description: Type of insurance coverage for the property
          enum:
            - BUILDING
            - LIABILITY
            - CONTENTS
            - FLOOD
            - EARTHQUAKE
            - UMBRELLA
            - RENT_GUARANTEE
            - OTHER
        provider:
          type: string
        policyNumber:
          type: string
        coverageAmount:
          type: number
          exclusiveMinimum: 0
        coverageAmountCurrency:
          type: string
        annualPremium:
          type: number
          exclusiveMinimum: 0
        annualPremiumCurrency:
          type: string
        paymentFrequency:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        status:
          type: string
          description: Current status of the insurance policy
          enum:
            - ACTIVE
            - EXPIRED
            - CANCELLED
        notes:
          type: string
    PropertyInsuranceResponse:
      type: object
      properties:
        identifier:
          type: string
        property:
          $ref: "#/components/schemas/PropertySummary"
        insuranceType:
          type: string
          description: Type of insurance coverage for the property
          enum:
            - BUILDING
            - LIABILITY
            - CONTENTS
            - FLOOD
            - EARTHQUAKE
            - UMBRELLA
            - RENT_GUARANTEE
            - OTHER
        provider:
          type: string
        policyNumber:
          type: string
        coverageAmount:
          type: number
        coverageAmountCurrency:
          type: string
        annualPremium:
          type: number
        annualPremiumCurrency:
          type: string
        paymentFrequency:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        status:
          type: string
          description: Current status of the insurance policy
          enum:
            - ACTIVE
            - EXPIRED
            - CANCELLED
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - annualPremium
        - annualPremiumCurrency
        - createdAt
        - identifier
        - insuranceType
        - paymentFrequency
        - status
    UpdatePropertyFinancingRequest:
      type: object
      properties:
        financingType:
          type: string
          description: Type of financing instrument
          enum:
            - MORTGAGE
            - LEASING
            - LOAN
            - LINE_OF_CREDIT
            - PRIVATE_FINANCING
            - OTHER
        rateType:
          type: string
          description: Interest rate structure of the financing
          enum:
            - FIXED
            - VARIABLE
            - INTEREST_ONLY
            - HYBRID
        lenderName:
          type: string
        loanNumber:
          type: string
        originalAmount:
          type: number
          exclusiveMinimum: 0
        originalAmountCurrency:
          type: string
        currentBalance:
          type: number
          minimum: 0
        currentBalanceCurrency:
          type: string
        interestRate:
          type: number
          minimum: 0
        monthlyPayment:
          type: number
          exclusiveMinimum: 0
        monthlyPaymentCurrency:
          type: string
        paymentVariable:
          type: boolean
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        termMonths:
          type: integer
          format: int32
          exclusiveMinimum: 0
        status:
          type: string
          description: Current status of the financing arrangement
          enum:
            - ACTIVE
            - PAID_OFF
            - REFINANCED
            - DEFAULTED
        notes:
          type: string
    PropertyFinancingResponse:
      type: object
      properties:
        identifier:
          type: string
        propertyIdentifier:
          type: string
        financingType:
          type: string
          description: Type of financing instrument
          enum:
            - MORTGAGE
            - LEASING
            - LOAN
            - LINE_OF_CREDIT
            - PRIVATE_FINANCING
            - OTHER
        rateType:
          type: string
          description: Interest rate structure of the financing
          enum:
            - FIXED
            - VARIABLE
            - INTEREST_ONLY
            - HYBRID
        lenderName:
          type: string
        loanNumber:
          type: string
        originalAmount:
          type: number
        originalAmountCurrency:
          type: string
        currentBalance:
          type: number
        currentBalanceCurrency:
          type: string
        interestRate:
          type: number
        monthlyPayment:
          type: number
        monthlyPaymentCurrency:
          type: string
        paymentVariable:
          type: boolean
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        termMonths:
          type: integer
          format: int32
        status:
          type: string
          description: Current status of the financing arrangement
          enum:
            - ACTIVE
            - PAID_OFF
            - REFINANCED
            - DEFAULTED
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - createdAt
        - financingType
        - identifier
        - originalAmount
        - originalAmountCurrency
        - paymentVariable
        - propertyIdentifier
        - rateType
        - startDate
        - status
    UpdateFinancingPaymentRequest:
      type: object
      properties:
        paymentDate:
          type: string
          format: date
        totalAmount:
          type: number
          exclusiveMinimum: 0
        principalAmount:
          type: number
          minimum: 0
        interestAmount:
          type: number
          minimum: 0
        escrowAmount:
          type: number
          minimum: 0
        extraPayment:
          type: number
          minimum: 0
        currency:
          type: string
        status:
          type: string
          description: Status of a financing installment payment
          enum:
            - SCHEDULED
            - COMPLETED
            - MISSED
        notes:
          type: string
        deductFromBalance:
          type: boolean
    FinancingPaymentResponse:
      type: object
      properties:
        identifier:
          type: string
        financingIdentifier:
          type: string
        paymentDate:
          type: string
          format: date
        totalAmount:
          type: number
        principalAmount:
          type: number
        interestAmount:
          type: number
        escrowAmount:
          type: number
        extraPayment:
          type: number
        currency:
          type: string
        status:
          type: string
          description: Status of a financing installment payment
          enum:
            - SCHEDULED
            - COMPLETED
            - MISSED
        notes:
          type: string
        balanceDeducted:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - balanceDeducted
        - createdAt
        - currency
        - financingIdentifier
        - identifier
        - paymentDate
        - status
        - totalAmount
    UpdatePropertyFeeRequest:
      type: object
      properties:
        feeType:
          type: string
          description: Type of recurring property fee
          enum:
            - HOA
            - MANAGEMENT
            - MAINTENANCE_RESERVE
            - CLEANING
            - GARDENING
            - SECURITY
            - WASTE_MANAGEMENT
            - WATER
            - UTILITIES
            - OTHER
        name:
          type: string
        annualAmount:
          type: number
          exclusiveMinimum: 0
        currency:
          type: string
        paymentFrequency:
          type: string
        dueMonths:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        status:
          type: string
          description: Current status of the fee obligation
          enum:
            - ACTIVE
            - EXPIRED
            - CANCELLED
        notes:
          type: string
    PropertyFeeResponse:
      type: object
      properties:
        identifier:
          type: string
        property:
          $ref: "#/components/schemas/PropertySummary"
        feeType:
          type: string
          description: Type of recurring property fee
          enum:
            - HOA
            - MANAGEMENT
            - MAINTENANCE_RESERVE
            - CLEANING
            - GARDENING
            - SECURITY
            - WASTE_MANAGEMENT
            - WATER
            - UTILITIES
            - OTHER
        name:
          type: string
        annualAmount:
          type: number
        currency:
          type: string
        paymentFrequency:
          type: string
        dueMonths:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        status:
          type: string
          description: Current status of the fee obligation
          enum:
            - ACTIVE
            - EXPIRED
            - CANCELLED
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - annualAmount
        - createdAt
        - currency
        - feeType
        - identifier
        - paymentFrequency
        - status
    UpsertPropertyAcquisitionRequest:
      type: object
      properties:
        acquisitionType:
          type: string
          description: How the property was acquired
          enum:
            - PURCHASE
            - INHERITANCE
            - GIFT
            - FORECLOSURE
            - AUCTION
            - OTHER
        acquisitionDate:
          type: string
          format: date
        purchasePrice:
          type: number
          exclusiveMinimum: 0
        purchasePriceCurrency:
          type: string
        closingCosts:
          type: number
          minimum: 0
        closingCostsCurrency:
          type: string
        renovationCosts:
          type: number
          minimum: 0
        renovationCostsCurrency:
          type: string
        landValue:
          type: number
          minimum: 0
        landValueCurrency:
          type: string
        depreciationMethod:
          type: string
          description: Accounting method used for property depreciation
          enum:
            - STRAIGHT_LINE
            - DECLINING_BALANCE
            - NONE
        depreciationYears:
          type: integer
          format: int32
          exclusiveMinimum: 0
        notes:
          type: string
      required:
        - acquisitionType
    PropertyAcquisitionResponse:
      type: object
      properties:
        identifier:
          type: string
        acquisitionType:
          type: string
          description: How the property was acquired
          enum:
            - PURCHASE
            - INHERITANCE
            - GIFT
            - FORECLOSURE
            - AUCTION
            - OTHER
        acquisitionDate:
          type: string
          format: date
        purchasePrice:
          type: number
        purchasePriceCurrency:
          type: string
        closingCosts:
          type: number
        closingCostsCurrency:
          type: string
        renovationCosts:
          type: number
        renovationCostsCurrency:
          type: string
        landValue:
          type: number
        landValueCurrency:
          type: string
        depreciationMethod:
          type: string
          description: Accounting method used for property depreciation
          enum:
            - STRAIGHT_LINE
            - DECLINING_BALANCE
            - NONE
        depreciationYears:
          type: integer
          format: int32
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - acquisitionType
        - createdAt
        - identifier
        - updatedAt
    AgriculturalDetailsRequest:
      type: object
      properties:
        totalLandAreaValue:
          type: number
          exclusiveMinimum: 0
        totalLandAreaUnit:
          type: string
        arableAreaValue:
          type: number
          exclusiveMinimum: 0
        arableAreaUnit:
          type: string
        soilType:
          type: string
        hasWaterRights:
          type: boolean
        waterSource:
          type: string
        irrigationType:
          type: string
        fencingType:
          type: string
        hasOutbuildings:
          type: boolean
        outbuildingDetails:
          type: string
        currentUse:
          type: string
        zoningClassification:
          type: string
    CommercialDetailsRequest:
      type: object
      properties:
        usableAreaValue:
          type: number
          exclusiveMinimum: 0
        usableAreaUnit:
          type: string
        commonAreaValue:
          type: number
          exclusiveMinimum: 0
        commonAreaUnit:
          type: string
        floorLevel:
          type: integer
          format: int32
        ceilingHeightM:
          type: number
          exclusiveMinimum: 0
        hasStorefront:
          type: boolean
        hasSignageRights:
          type: boolean
        zoningClassification:
          type: string
        maxOccupancy:
          type: integer
          format: int32
          exclusiveMinimum: 0
        restroomCount:
          type: integer
          format: int32
          minimum: 0
        hasKitchenFacility:
          type: boolean
        accessibilityCompliant:
          type: boolean
    IndustrialDetailsRequest:
      type: object
      properties:
        clearHeightM:
          type: number
          exclusiveMinimum: 0
        loadingDocks:
          type: integer
          format: int32
          minimum: 0
        driveInDoors:
          type: integer
          format: int32
          minimum: 0
        floorLoadCapacityKgSqm:
          type: number
          exclusiveMinimum: 0
        powerCapacityKva:
          type: integer
          format: int32
          exclusiveMinimum: 0
        hasThreePhasePower:
          type: boolean
        hasCrane:
          type: boolean
        craneCapacityTons:
          type: number
          exclusiveMinimum: 0
        hasHazmatCertification:
          type: boolean
        hasVentilationSystem:
          type: boolean
        hasClimateControl:
          type: boolean
        yardAreaValue:
          type: number
          exclusiveMinimum: 0
        yardAreaUnit:
          type: string
        zoningClassification:
          type: string
    ResidentialDetailsRequest:
      type: object
      properties:
        bedrooms:
          type: integer
          format: int32
          minimum: 0
        bathrooms:
          type: integer
          format: int32
          minimum: 0
        furnished:
          type: boolean
        petPolicy:
          type: string
    UpdatePropertyRequest:
      type: object
      properties:
        propertyType:
          type: string
          description: Specific property type within a category
          enum:
            - APARTMENT
            - HOUSE
            - STUDIO
            - ROOM
            - VILLA
            - TOWNHOUSE
            - OTHER_RESIDENTIAL
            - OFFICE
            - RETAIL
            - RESTAURANT
            - HOTEL
            - SHOWROOM
            - AUTO_DEALERSHIP
            - SNACKBAR
            - CAFE
            - MOTEL
            - BAR
            - BED_AND_BREAKFAST
            - OTHER_COMMERCIAL
            - WAREHOUSE
            - WORKSHOP
            - FACTORY
            - DATA_CENTER
            - COLD_STORAGE
            - GARAGE
            - OTHER_INDUSTRIAL
            - FARMLAND
            - RANCH
            - GREENHOUSE
            - ORCHARD
            - VINEYARD
            - OTHER_AGRICULTURAL
            - MIXED_USE
            - COMMERCIAL
        status:
          type: string
          description: Current occupancy or availability status of the property
          enum:
            - VACANT
            - OCCUPIED
            - SELF_OCCUPIED
            - MAINTENANCE
            - UNAVAILABLE
            - UNDER_RENOVATION
            - FALLOW
            - LISTED
        street:
          type: string
          minLength: 1
        city:
          type: string
          minLength: 1
        postalCode:
          type: string
          minLength: 1
        country:
          type: string
          minLength: 1
        regionCode:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        geocodeAccuracy:
          type: string
        areaValue:
          type: number
          exclusiveMinimum: 0
        areaUnit:
          type: string
        yearBuilt:
          type: integer
          format: int32
        yearLastRenovated:
          type: integer
          format: int32
        constructionType:
          type: string
        foundationType:
          type: string
        roofType:
          type: string
        wallConstruction:
          type: string
        flooringType:
          type: string
        windowType:
          type: string
        numberOfFloors:
          type: integer
          format: int32
        structuralNotes:
          type: string
        energyEfficiencyRating:
          type: string
        energyCertificateExpiryDate:
          type: string
          format: date
        heatingType:
          type: string
        coolingType:
          type: string
        hotWaterSystem:
          type: string
        insulationNotes:
          type: string
        electricityConnectionType:
          type: string
        electricityCapacityAmps:
          type: integer
          format: int32
        waterConnectionType:
          type: string
        hasGasConnection:
          type: boolean
        sewageType:
          type: string
        internetConnectionType:
          type: string
        internetMaxSpeedMbps:
          type: integer
          format: int32
        internetStatus:
          type: string
        parkingSpaces:
          type: integer
          format: int32
        parkingType:
          type: string
        hasSmokeDetectors:
          type: boolean
        hasCoDetectors:
          type: boolean
        hasFireExtinguisher:
          type: boolean
        hasSprinklerSystem:
          type: boolean
        hasAlarmSystem:
          type: boolean
        hasSecurityCameras:
          type: boolean
        hasSecureEntry:
          type: boolean
        safetyNotes:
          type: string
        isWheelchairAccessible:
          type: boolean
        hasElevator:
          type: boolean
        hasStepFreeEntrance:
          type: boolean
        hasAdaptedBathroom:
          type: boolean
        accessibilityNotes:
          type: string
        residentialDetails:
          $ref: "#/components/schemas/ResidentialDetailsRequest"
        commercialDetails:
          $ref: "#/components/schemas/CommercialDetailsRequest"
        industrialDetails:
          $ref: "#/components/schemas/IndustrialDetailsRequest"
        agriculturalDetails:
          $ref: "#/components/schemas/AgriculturalDetailsRequest"
      required:
        - city
        - country
        - postalCode
        - propertyType
        - status
        - street
    AgriculturalDetailsResponse:
      type: object
      properties:
        totalLandAreaValue:
          type: number
        totalLandAreaUnit:
          type: string
        arableAreaValue:
          type: number
        arableAreaUnit:
          type: string
        soilType:
          type: string
        hasWaterRights:
          type: boolean
        waterSource:
          type: string
        irrigationType:
          type: string
        fencingType:
          type: string
        hasOutbuildings:
          type: boolean
        outbuildingDetails:
          type: string
        currentUse:
          type: string
        zoningClassification:
          type: string
    CommercialDetailsResponse:
      type: object
      properties:
        usableAreaValue:
          type: number
        usableAreaUnit:
          type: string
        commonAreaValue:
          type: number
        commonAreaUnit:
          type: string
        floorLevel:
          type: integer
          format: int32
        ceilingHeightM:
          type: number
        hasStorefront:
          type: boolean
        hasSignageRights:
          type: boolean
        zoningClassification:
          type: string
        maxOccupancy:
          type: integer
          format: int32
        restroomCount:
          type: integer
          format: int32
        hasKitchenFacility:
          type: boolean
        accessibilityCompliant:
          type: boolean
    IndustrialDetailsResponse:
      type: object
      properties:
        clearHeightM:
          type: number
        loadingDocks:
          type: integer
          format: int32
        driveInDoors:
          type: integer
          format: int32
        floorLoadCapacityKgSqm:
          type: number
        powerCapacityKva:
          type: integer
          format: int32
        hasThreePhasePower:
          type: boolean
        hasCrane:
          type: boolean
        craneCapacityTons:
          type: number
        hasHazmatCertification:
          type: boolean
        hasVentilationSystem:
          type: boolean
        hasClimateControl:
          type: boolean
        yardAreaValue:
          type: number
        yardAreaUnit:
          type: string
        zoningClassification:
          type: string
    PropertyAmenityResponse:
      type: object
      properties:
        amenityIdentifier:
          type: string
        amenityName:
          type: string
        amenityCategory:
          type: string
        amenityIcon:
          type: string
        notes:
          type: string
      required:
        - amenityCategory
        - amenityIdentifier
        - amenityName
    PropertyResponse:
      type: object
      description: Property details including location, construction, energy, and accessibility information
      properties:
        identifier:
          type: string
          description: Unique property identifier
          example: prop_01HZQX7V8B3K5M2N4P6R9T0W
        propertyCategory:
          type: string
          description: High-level property classification
          enum:
            - RESIDENTIAL
            - COMMERCIAL
            - INDUSTRIAL
            - AGRICULTURAL
            - MIXED_USE
        propertyType:
          type: string
          description: Specific property type within a category
          enum:
            - APARTMENT
            - HOUSE
            - STUDIO
            - ROOM
            - VILLA
            - TOWNHOUSE
            - OTHER_RESIDENTIAL
            - OFFICE
            - RETAIL
            - RESTAURANT
            - HOTEL
            - SHOWROOM
            - AUTO_DEALERSHIP
            - SNACKBAR
            - CAFE
            - MOTEL
            - BAR
            - BED_AND_BREAKFAST
            - OTHER_COMMERCIAL
            - WAREHOUSE
            - WORKSHOP
            - FACTORY
            - DATA_CENTER
            - COLD_STORAGE
            - GARAGE
            - OTHER_INDUSTRIAL
            - FARMLAND
            - RANCH
            - GREENHOUSE
            - ORCHARD
            - VINEYARD
            - OTHER_AGRICULTURAL
            - MIXED_USE
            - COMMERCIAL
        status:
          type: string
          description: Current occupancy or availability status of the property
          enum:
            - VACANT
            - OCCUPIED
            - SELF_OCCUPIED
            - MAINTENANCE
            - UNAVAILABLE
            - UNDER_RENOVATION
            - FALLOW
            - LISTED
        street:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          type: string
        regionCode:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        geocodeAccuracy:
          type: string
        areaValue:
          type: number
        areaUnit:
          type: string
        mainPhotoUrl:
          type: string
        mainPhotoThumbnailUrl:
          type: string
        yearBuilt:
          type: integer
          format: int32
        yearLastRenovated:
          type: integer
          format: int32
        constructionType:
          type: string
        foundationType:
          type: string
        roofType:
          type: string
        wallConstruction:
          type: string
        flooringType:
          type: string
        windowType:
          type: string
        numberOfFloors:
          type: integer
          format: int32
        structuralNotes:
          type: string
        energyEfficiencyRating:
          type: string
        energyCertificateExpiryDate:
          type: string
          format: date
        heatingType:
          type: string
        coolingType:
          type: string
        hotWaterSystem:
          type: string
        insulationNotes:
          type: string
        electricityConnectionType:
          type: string
        electricityCapacityAmps:
          type: integer
          format: int32
        waterConnectionType:
          type: string
        hasGasConnection:
          type: boolean
        sewageType:
          type: string
        internetConnectionType:
          type: string
        internetMaxSpeedMbps:
          type: integer
          format: int32
        internetStatus:
          type: string
        parkingSpaces:
          type: integer
          format: int32
        parkingType:
          type: string
        hasSmokeDetectors:
          type: boolean
        hasCoDetectors:
          type: boolean
        hasFireExtinguisher:
          type: boolean
        hasSprinklerSystem:
          type: boolean
        hasAlarmSystem:
          type: boolean
        hasSecurityCameras:
          type: boolean
        hasSecureEntry:
          type: boolean
        safetyNotes:
          type: string
        isWheelchairAccessible:
          type: boolean
        hasElevator:
          type: boolean
        hasStepFreeEntrance:
          type: boolean
        hasAdaptedBathroom:
          type: boolean
        accessibilityNotes:
          type: string
        residentialDetails:
          $ref: "#/components/schemas/ResidentialDetailsResponse"
        commercialDetails:
          $ref: "#/components/schemas/CommercialDetailsResponse"
        industrialDetails:
          $ref: "#/components/schemas/IndustrialDetailsResponse"
        agriculturalDetails:
          $ref: "#/components/schemas/AgriculturalDetailsResponse"
        outdoorAreas:
          type: array
          items:
            $ref: "#/components/schemas/PropertyOutdoorAreaResponse"
        amenities:
          type: array
          items:
            $ref: "#/components/schemas/PropertyAmenityResponse"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - city
        - country
        - createdAt
        - identifier
        - postalCode
        - propertyCategory
        - propertyType
        - status
        - street
    ResidentialDetailsResponse:
      type: object
      properties:
        bedrooms:
          type: integer
          format: int32
        bathrooms:
          type: integer
          format: int32
        furnished:
          type: boolean
        petPolicy:
          type: string
    UpdatePhotoRequest:
      type: object
      properties:
        title:
          type: string
        notes:
          type: string
    UpdatePaymentRequest:
      type: object
      properties:
        amount:
          type: number
          exclusiveMinimum: 0
        currency:
          type: string
        dueDate:
          type: string
          format: date
        status:
          type: string
          description: Current payment collection status
          enum:
            - PENDING
            - PARTIALLY_PAID
            - PAID
            - OVERDUE
            - CANCELLED
        notes:
          type: string
        contactIdentifier:
          type: string
          description: Identifier of the contact linked to this payment
    ContractSummary:
      type: object
      properties:
        identifier:
          type: string
        property:
          $ref: "#/components/schemas/PropertySummary"
        primaryContact:
          $ref: "#/components/schemas/ContactSummary"
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        rentAmount:
          type: number
        status:
          type: string
          description: Current lifecycle status of the contract
          enum:
            - DRAFT
            - ACTIVE
            - EXPIRED
            - TERMINATED
            - PENDING_SIGNATURE
      required:
        - identifier
        - property
        - rentAmount
        - startDate
        - status
    DocumentResponse:
      type: object
      description: Uploaded document metadata with download URL
      properties:
        identifier:
          type: string
          description: Unique document identifier
          example: doc_01HZQX7V8B3K5M2N4P6R9T0W
        entityType:
          type: string
        entityIdentifier:
          type: string
        fileKey:
          type: string
        fileName:
          type: string
        fileSize:
          type: integer
          format: int64
        mimeType:
          type: string
        title:
          type: string
        notes:
          type: string
        uploadedAt:
          type: string
          format: date-time
        downloadUrl:
          type: string
      required:
        - entityIdentifier
        - entityType
        - fileKey
        - fileName
        - identifier
        - uploadedAt
    PaymentReceivalResponse:
      type: object
      properties:
        identifier:
          type: string
        amount:
          type: number
        currency:
          type: string
        receivalDate:
          type: string
          format: date
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
        - amount
        - createdAt
        - currency
        - identifier
        - receivalDate
    PaymentResponse:
      type: object
      description: Payment record with amount, due date, status, and linked contract
      properties:
        identifier:
          type: string
          description: Unique payment identifier
          example: pay_01HZQX7V8B3K5M2N4P6R9T0W
        contract:
          $ref: "#/components/schemas/ContractSummary"
        contact:
          $ref: "#/components/schemas/ContactSummary"
        property:
          $ref: "#/components/schemas/PropertySummary"
        amount:
          type: number
        currency:
          type: string
        receivedAmount:
          type: number
        balance:
          type: number
        paymentDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        status:
          type: string
          description: Current payment collection status
          enum:
            - PENDING
            - PARTIALLY_PAID
            - PAID
            - OVERDUE
            - CANCELLED
        notes:
          type: string
        proofOfPayment:
          $ref: "#/components/schemas/DocumentResponse"
        receipt:
          $ref: "#/components/schemas/DocumentResponse"
        receivals:
          type: array
          items:
            $ref: "#/components/schemas/PaymentReceivalResponse"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - amount
        - createdAt
        - currency
        - dueDate
        - identifier
        - receivals
        - status
    ContactSummary:
      type: object
      properties:
        identifier:
          type: string
        contactType:
          $ref: '#/components/schemas/ContactType'
        displayName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
        dataRetentionStatus:
          type: string
          enum: [ACTIVE, RETENTION_REQUESTED, ANONYMIZED]
          description: Data retention status — ANONYMIZED means the contact has been erased
      required:
        - contactType
        - dataRetentionStatus
        - displayName
        - identifier
    UpdatePaymentReceivalRequest:
      type: object
      properties:
        amount:
          type: number
        receivalDate:
          type: string
          format: date
        notes:
          type: string
      required:
        - amount
        - receivalDate
    MarkPaidRequest:
      type: object
      properties:
        paymentDate:
          type: string
          format: date
        notes:
          type: string
      required:
        - paymentDate
    UpdatePaymentInstructionRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        paymentMethod:
          type: string
          description: Supported payment method for rent collection
          enum:
            - BANK_TRANSFER
            - PAYPAL
            - CASH
            - CHECK
            - DIRECT_DEBIT
            - IDEAL_WERO
            - ZELLE
            - OTHER
        bankName:
          type: string
        accountHolderName:
          type: string
        iban:
          type: string
          maxLength: 34
        bicSwift:
          type: string
          maxLength: 11
        accountNumber:
          type: string
        routingNumber:
          type: string
        paymentReference:
          type: string
        additionalDetails:
          type: string
        isDefault:
          type: boolean
    PaymentInstructionResponse:
      type: object
      properties:
        identifier:
          type: string
        name:
          type: string
        description:
          type: string
        paymentMethod:
          type: string
        bankName:
          type: string
        accountHolderName:
          type: string
        iban:
          type: string
        bicSwift:
          type: string
        accountNumber:
          type: string
        routingNumber:
          type: string
        paymentReference:
          type: string
        additionalDetails:
          type: string
        isDefault:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - createdAt
        - identifier
        - name
        - paymentMethod
    UpdateExpenseRequest:
      type: object
      properties:
        category:
          type: string
          description: Category of the property-related expense
          enum:
            - MAINTENANCE
            - REPAIR
            - UTILITY
            - TAX
            - INSURANCE
            - LEGAL
            - MARKETING
            - CLEANING
            - LANDSCAPING
            - PROPERTY_MANAGEMENT
            - FEES
            - PROPERTY_TAX
            - OTHER
        amount:
          type: number
          exclusiveMinimum: 0
        currency:
          type: string
        expenseDate:
          type: string
          format: date
        description:
          type: string
          maxLength: 500
          minLength: 1
        notes:
          type: string
        contactIdentifier:
          type: string
          description: Identifier of the contact linked to this expense
    ExpenseResponse:
      type: object
      description: Property expense record with category, amount, and supporting documents
      properties:
        identifier:
          type: string
          description: Unique expense identifier
          example: exp_01HZQX7V8B3K5M2N4P6R9T0W
        property:
          $ref: "#/components/schemas/PropertySummary"
        category:
          type: string
          description: Category of the property-related expense
          enum:
            - MAINTENANCE
            - REPAIR
            - UTILITY
            - TAX
            - INSURANCE
            - LEGAL
            - MARKETING
            - CLEANING
            - LANDSCAPING
            - PROPERTY_MANAGEMENT
            - FEES
            - PROPERTY_TAX
            - OTHER
        amount:
          type: number
        currency:
          type: string
        expenseDate:
          type: string
          format: date
        description:
          type: string
        notes:
          type: string
        documents:
          type: array
          items:
            $ref: "#/components/schemas/DocumentResponse"
        contact:
          $ref: "#/components/schemas/ContactSummary"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - amount
        - category
        - createdAt
        - currency
        - documents
        - expenseDate
        - identifier
    UpdateDocumentRequest:
      type: object
      properties:
        title:
          type: string
        notes:
          type: string
    UpdateContractRequest:
      type: object
      properties:
        propertyIdentifier:
          type: string
        contractType:
          type: string
          description: Type of rental contract
          enum:
            - FIXED_TERM
            - INDEFINITE
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        signedDate:
          type: string
          format: date
        rentAmount:
          type: number
        depositAmount:
          type: number
          minimum: 0
        securityDeposit:
          type: number
          minimum: 0
        rentAmountCurrency:
          type: string
        depositAmountCurrency:
          type: string
        securityDepositCurrency:
          type: string
        paymentFrequency:
          type: string
          description: How often rent payments are due
          enum:
            - MONTHLY
            - QUARTERLY
            - ANNUALLY
        paymentDueDay:
          type: integer
          format: int32
        terminationNoticeDays:
          type: integer
          format: int32
        lateFeePercentage:
          type: number
          minimum: 0
        termsAndConditions:
          type: string
        notes:
          type: string
        renewalMode:
          $ref: '#/components/schemas/RenewalMode'
        renewalTermMonths:
          type: integer
          minimum: 1
        maxRenewals:
          type: integer
          minimum: 1
        landlordNoticeDays:
          type: integer
          minimum: 0
        tenantNoticeDays:
          type: integer
          minimum: 0
        requiresTenantConfirmation:
          type: boolean
        tenantRemindersEnabled:
          type: boolean
          description: Send tenant-facing payment reminders for this contract (off by default)
        remindersPausedUntil:
          type: string
          format: date
          description: While set and not in the past, no tenant reminder is sent for this contract
        rentAdjustmentType:
          $ref: '#/components/schemas/RentAdjustmentType'
        rentAdjustmentValue:
          type: number
        landlordType:
          $ref: '#/components/schemas/LandlordType'
        regionCode:
          type: string
        documentLanguages:
          type: array
          items:
            type: string
          description: Preferred language(s) for generated documents (ISO 639-1 codes)
          example: ["en"]
        countryMetadata:
          type: object
          additionalProperties: {}
        rentComponents:
          type: array
          items:
            $ref: '#/components/schemas/RentComponentRequest'
          description: Optional rent breakdown into components
        endDateAfterStartDate:
          type: boolean
      required:
        - contractType
        - paymentFrequency
        - propertyIdentifier
        - rentAmount
        - startDate
    AlContractMetadata:
      allOf:
        - $ref: "#/components/schemas/ContractCountryMetadata"
        - type: object
          properties:
            kontrataTip:
              type: string
            energyCertificateRating:
              type: string
            garanciaAmount:
              type: number
            garanciaMonths:
              type: integer
              format: int32
            tatimoreRegistered:
              type: boolean
            shpenzimet:
              type: number
    ArContractMetadata:
      allOf:
        - $ref: "#/components/schemas/ContractCountryMetadata"
        - type: object
          properties:
            tipoContrato:
              type: string
            depositoAmount:
              type: number
            depositoMonths:
              type: integer
              format: int32
            registroPropiedad:
              type: boolean
            expensasAmount:
              type: number
            contratoInscripcion:
              type: string
            actualizacionIpcApplicable:
              type: boolean
    AtContractMetadata:
      allOf:
        - $ref: "#/components/schemas/ContractCountryMetadata"
        - type: object
          properties:
            mietrechtsgesetzCategory:
              type: string
            energyCertificateRating:
              type: string
            betriebskostenAmount:
              type: number
            kautionMonths:
              type: integer
              format: int32
            kautionAmount:
              type: number
            befristung:
              type: boolean
            richtwertmiete:
              type: number
            energyCertificateNumber:
              type: string
    BaContractMetadata:
      allOf:
        - $ref: "#/components/schemas/ContractCountryMetadata"
        - type: object
          properties:
            ugovorType:
              type: string
            entityRegion:
              type: string
            depozitAmount:
              type: number
            depozitMonths:
              type: integer
              format: int32
            poreskaUpravaRegistered:
              type: boolean
            rezijeAmount:
              type: number
    BeContractMetadata:
      allOf:
        - $ref: "#/components/schemas/ContractCountryMetadata"
        - type: object
          properties:
            region:
              type: string
            indexationBase:
              type: number
            energyCertificateRating:
              type: string
            energyCertificateNumber:
              type: string
            registrationNumber:
              type: string
            depositMonths:
              type: integer
              format: int32
            depositType:
              type: string
            indexationBaseMonth:
              type: string
    BgContractMetadata:
      allOf:
        - $ref: "#/components/schemas/ContractCountryMetadata"
        - type: object
          properties:
            contractType:
              type: string
            energyCertificateRating:
              type: string
            depozitAmount:
              type: number
            depozitMonths:
              type: integer
              format: int32
            notarizedContract:
              type: boolean
            obshtiRazhodiAmount:
              type: number
    BrContractMetadata:
      allOf:
        - $ref: "#/components/schemas/ContractCountryMetadata"
[...]
