<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [reqId='%X{requestId}', userId='%X{userId}'] - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="prod">
        <appender name="Logtail" class="com.logtail.logback.LogtailAppender">
            <appName>${LOGTAIL_APP_NAME:-buurman-backend}</appName>
            <sourceToken>${LOGTAIL_SOURCE_TOKEN}</sourceToken>
            <ingestUrl>${LOGTAIL_INGEST_URL}</ingestUrl>
            <mdcFields>requestId,userId,teamId,userEmail</mdcFields>
            <mdcTypes>string,string,string,string</mdcTypes>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <springProfile name="prod">
            <appender-ref ref="Logtail"/>
        </springProfile>
    </root>

    <logger name="com.buurman" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.jooq" level="INFO"/>
    <logger name="org.jooq.tools.LoggerListener" level="INFO"/>
    <logger name="org.flywaydb" level="INFO"/>
</configuration>
